In [77]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import seaborn as sns
import folium as fol
%matplotlib inline
import matplotlib.pyplot as plt
from IPython.display import set_matplotlib_formats
plt.rc('font',family='Malgun Gothic')

In [78]:
'''
df_01 = pd.read_csv('ff_csv/TB_FFAS_FF_OCCRR_11.txt', sep='\t', encoding='cp949' )
df_02 = pd.read_csv('ff_csv/TB_FFAS_FF_OCCRR_26.txt', sep='\t', encoding='cp949' )
df_03 = pd.read_csv('ff_csv/TB_FFAS_FF_OCCRR_27.txt', sep='\t', encoding='cp949' )
df_04 = pd.read_csv('ff_csv/TB_FFAS_FF_OCCRR_28.txt', sep='\t', encoding='cp949' )
df_05 = pd.read_csv('ff_csv/TB_FFAS_FF_OCCRR_29.txt', sep='\t', encoding='cp949' )
df_06 = pd.read_csv('ff_csv/TB_FFAS_FF_OCCRR_30.txt', sep='\t', encoding='cp949' )
df_07 = pd.read_csv('ff_csv/TB_FFAS_FF_OCCRR_31.txt', sep='\t', encoding='cp949' )
df_08 = pd.read_csv('ff_csv/TB_FFAS_FF_OCCRR_36.txt', sep='\t', encoding='cp949' )
df_09 = pd.read_csv('ff_csv/TB_FFAS_FF_OCCRR_41.txt', sep='\t', encoding='cp949' )
df_10 = pd.read_csv('ff_csv/TB_FFAS_FF_OCCRR_42.txt', sep='\t', encoding='cp949' )
df_11 = pd.read_csv('ff_csv/TB_FFAS_FF_OCCRR_43.txt', sep='\t', encoding='cp949' )
df_12 = pd.read_csv('ff_csv/TB_FFAS_FF_OCCRR_44.txt', sep='\t', encoding='cp949' )
df_13 = pd.read_csv('ff_csv/TB_FFAS_FF_OCCRR_45.txt', sep='\t', encoding='cp949' )
df_14 = pd.read_csv('ff_csv/TB_FFAS_FF_OCCRR_46.txt', sep='\t', encoding='cp949' )
df_15 = pd.read_csv('ff_csv/TB_FFAS_FF_OCCRR_47.txt', sep='\t', encoding='cp949' )
df_16 = pd.read_csv('ff_csv/TB_FFAS_FF_OCCRR_48.txt', sep='\t', encoding='cp949' )
df_17 = pd.read_csv('ff_csv/TB_FFAS_FF_OCCRR_50.txt', sep='\t', encoding='cp949' )
'''
df_01 = pd.read_csv('forestfire2.txt', sep=',', encoding='utf-8' )

In [79]:
#df = pd.concat([df_01,df_02,df_03,df_04, df_05, df_06, df_07, df_08, df_09, df_10, df_11, df_12, df_13, df_14, df_15, df_16, df_17], ignore_index=True)
df_01.head(50)

,Unnamed: 0,OCCRR_DTM,OCUR_DYWK,EXTING_DTM,RQRMN_TM,ARA_NM,CTPRV_NM,SGNG_NM,EMNDN_NM,OCCCRR_RI,ARA_LTNMB,CUSE_NM,DMG_AREA,DMG_MONEY,TM_X,TM_Y
0,0,201303271749,수,2.013033e+11,56.0,서울,서울,강북구,수유동,NaN,산127-1,노숙자실화 추정,NaN,NaN,955671.228689,1.959634e+06
1,1,201310271100,일,2.013103e+11,50.0,서울,서울,도봉구,도봉동,NaN,산29-89,미상,NaN,NaN,957407.844547,1.964749e+06
2,2,201303101450,일,2.013031e+11,29.0,서울,서울,서초구,내곡동,NaN,산12-415,밭두렁소각,NaN,NaN,961893.681660,1.939154e+06
3,3,201304161957,화,2.013042e+11,153.0,서울,서울,송파구,마천동,NaN,54-20,방화 추정,NaN,NaN,968855.600734,1.944885e+06
4,4,201011092158,화,2.010111e+11,22.0,서울,서울,종로,평창,NaN,산6-386,입산자실화,0.01,940.0,953283.207765,1.957577e+06
5,5,200103221502,목,2.001032e+11,18.0,서울,서울,종로,명륜,NaN,산2-8,담뱃불실화추정,0.07,0.0,955261.154599,1.954640e+06
6,6,200803151800,토,2.008032e+11,5.0,서울,서울,종로,삼청,NaN,산2-1,입산자실화,0.01,0.0,954275.844744,1.954877e+06
7,7,200003041415,토,2.000030e+11,22.0,북부,서울,종로,부암,NaN,산11,어린이불장난,0.01,0.0,952908.876269,1.955865e+06
8,8,200104281235,토,2.001043e+11,9.0,서울,서울,종로,부암,NaN,산26,어린이불장난추정,0.01,0.0,953007.504749,1.955702e+06
9,9,199404102130,일,1.994041e+11,100.0,서울,서울,종로,구기,NaN,산3-23,입산자실화추정,0.04,0.0,951717.718478,1.956507e+06
10,10,199602251430,일,1.996023e+11,110.0,서울,서울,종로,구기,NaN,산3-1,입산자실화,0.50,60.0,952539.173072,1.958482e+06
11,11,200002241350,목,2.000022e+11,30.0,북부,서울,종로,구기,NaN,산3-1,입산자실화추정,0.04,0.0,952539.173072,1.958482e+06
12,12,200003240957,금,2.000032e+11,430.0,북부,서울,종로,구기,NaN,산3-20,입산자실화추정,0.09,0.0,952384.698725,1.956858e+06
13,13,200611252345,토,2.006113e+11,140.0,북부,서울,종로,구기,NaN,산3-1,입산자실화,0.07,0.0,952539.173072,1.958482e+06
14,14,200904171305,금,2.009042e+11,15.0,서울,서울,종로,구기,NaN,산3-20,생활쓰레기소각,0.02,0.0,952384.698725,1.956858e+06
15,15,200203091653,토,2.002031e+11,24.0,서울,서울,종로,평창,NaN,440-15,입산자실화추정,0.02,0.0,953928.694279,1.957491e+06
16,16,198905041500,목,1.989050e+11,120.0,서울,서울,종로,평창,NaN,산6,등산객실화추정,0.20,0.0,953605.303369,1.958273e+06
17,17,199903170133,수,1.999032e+11,10.0,북부,서울,용산,이태원,NaN,산1-5,담뱃불실화추정,0.05,50.0,955204.777655,1.949660e+06
18,18,200603232040,목,2.006032e+11,15.0,서울,서울,용산,이태원,NaN,산1-174,입산자실화,0.02,0.0,954926.889414,1.949460e+06
19,19,200501290725,토,2.005013e+11,25.0,북부,서울,용산,용산2가,NaN,산1-3,입산자실화추정,0.01,0.0,954860.026733,1.950115e+06
20,20,200603122030,일,2.006031e+11,25.0,북부,서울,용산,후암,NaN,산1-1,입산자실화,0.01,0.0,954577.695185,1.950043e+06
21,21,198203281620,일,1.982033e+11,33.0,서울,서울,용산,용산2가,NaN,산1-1,입산자실화,0.20,0.0,955075.378252,1.950234e+06
22,22,201206171705,일,2.012062e+11,235.0,NaN,서울,광진,중곡동,NaN,3-3,원인미상,0.30,0.0,965760.985124,1.950902e+06
23,23,201204091457,월,2.012041e+11,38.0,서울,서울,광진,구의동,NaN,산3-16,등산객실화,0.10,3990.0,965757.653525,1.950907e+06
24,24,201204091938,월,2.012041e+11,58.0,서울,서울,광진,중곡동,NaN,산143-126,등산객실화,0.15,3109.0,964329.261794,1.951003e+06
25,25,201206261249,화,2.012063e+11,101.0,서울,서울,광진,중곡동,NaN,143-134,원인미상,0.03,0.0,964411.519079,1.952383e+06
26,26,200104262148,목,2.001043e+11,23.0,서울,서울,광진,구의,NaN,산3,담뱃불실화추정,0.03,0.0,964659.179817,1.950882e+06
27,27,200104270257,금,2.001043e+11,28.0,서울,서울,광진,구의,NaN,산3,어린이불장난추정,0.03,0.0,964659.179817,1.950882e+06
28,28,199701201805,월,1.997012e+11,128.0,서울,서울,광진,중곡,NaN,산1,입산자실화추정,0.10,0.0,964672.728371,1.952101e+06
29,29,200003261550,일,2.000033e+11,25.0,서울,서울,광진,중곡,NaN,산1,담뱃불실화,0.03,0.0,964672.728371,1.952101e+06
30,30,200106062156,수,2.001061e+11,24.0,서울,서울,광진,중곡,NaN,산3-68,담뱃불실화추정,0.02,0.0,964040.786565,1.951985e+06
31,31,200303301909,일,2.003033e+11,41.0,서울,서울,광진,중곡,NaN,산1,담배불실화,0.03,243.0,964672.728371,1.952101e+06
32,32,200405242330,월,2.004053e+11,130.0,서울,서울,광진,중곡,NaN,NaN,무속행위실화,0.04,0.0,964057.753734,1.951882e+06
33,33,199403011628,화,1.994030e+11,117.0,서울,서울,광진,중곡,NaN,산4-1,어린이불장난,0.06,100.0,963887.962380,1.952268e+06
34,34,198904091503,일,1.989041e+11,149.0,서울,서울,광진,중곡,NaN,산3-60,어린이불장난추정,0.13,0.0,964331.334125,1.951551e+06
35,35,198204221200,목,1.982042e+11,100.0,서울,서울,광진,중곡,NaN,산1,담배불실화,1.00,0.0,964672.728371,1.952101e+06
36,36,200602181456,토,2.006022e+11,16.0,서울,서울,광진,중곡,NaN,NaN,담뱃불실화추정,0.01,0.0,963900.377446,1.951909e+06
37,37,200611031600,금,2.006110e+11,30.0,서울,서울,광진,중곡,NaN,NaN,어린이불장난,0.03,0.0,964057.753734,1.951882e+06
38,38,200704191216,목,2.007042e+11,9.0,서울,서울,광진,중곡,NaN,산3-27,무속행위실화추정,0.03,0.0,963878.987021,1.951561e+06
39,39,200602251158,토,2.006023e+11,15.0,서울,서울,광진,중곡,NaN,NaN,담뱃불실화추정,0.01,0.0,964785.596048,1.950493e+06
40,40,198410191320,금,1.984112e+11,35.0,서울,서울,동대문,회기,NaN,산4-50,담뱃불실화추정,0.01,0.0,960164.034762,1.955147e+06
41,41,200211121519,화,2.002111e+11,11.0,서울,서울,동대문,전농,NaN,산32-20,담뱃불실화추정,0.01,0.0,961524.715729,1.953496e+06
42,42,200211130144,수,2.002111e+11,38.0,서울,서울,동대문,전농,NaN,산32-20,어린이불장난추정,0.06,0.0,961524.715729,1.953496e+06
43,43,200211141457,목,2.002111e+11,8.0,서울,서울,동대문,전농,NaN,산32-20,담뱃불실화추정,0.01,0.0,961524.715729,1.953496e+06
44,44,200105070007,월,2.001051e+11,20.0,서울,서울,동대문,휘경,NaN,산6-77,방화추정,0.02,0.0,961637.755586,1.954124e+06
45,45,200104070217,토,2.001041e+11,115.0,서울,서울,동대문,회기,NaN,산4-50,어린이불장난추정,0.20,0.0,960164.034762,1.955147e+06
46,46,200204051234,금,2.002041e+11,4.0,서울,서울,중랑,신내,NaN,산77-1,담배불실화추정,0.02,0.0,964906.078724,1.956446e+06
47,47,200305171530,토,2.003052e+11,20.0,서울,서울,중랑,중화1,NaN,산9-1,담배불실화,0.01,0.0,963371.728501,1.956174e+06
48,48,200103261125,월,2.001033e+11,10.0,서울,서울,중랑,상봉,NaN,산108-4,어린이불장난추정,0.01,0.0,963513.003495,1.955407e+06
49,49,199706181330,수,1.997062e+11,230.0,서울,서울,중랑,면목,NaN,산74-1,불량청소년실화,0.17,0.0,963767.642909,1.952577e+06

In [80]:
df_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28744 entries, 0 to 28743
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  28744 non-null  int64
 1   OCCRR_DTM   28744 non-null  int64
 2   OCUR_DYWK   9834 non-null   object
 3   EXTING_DTM  9834 non-null   float64
 4   RQRMN_TM    9832 non-null   float64
 5   ARA_NM      28558 non-null  object
 6   CTPRV_NM    28601 non-null  object
 7   SGNG_NM     28534 non-null  object
 8   EMNDN_NM    28600 non-null  object
 9   OCCCRR_RI   21420 non-null  object
 10  ARA_LTNMB   28668 non-null  object
 11  CUSE_NM     9768 non-null   object
 12  DMG_AREA    9772 non-null   float64
 13  DMG_MONEY   9691 non-null   float64
 14  TM_X        28744 non-null  float64
 15  TM_Y        28744 non-null  float64
dtypes: float64(6), int64(2), object(8)
memory usage: 3.5+ MB

In [81]:
df_01.isnull().sum()

Unnamed: 0        0
OCCRR_DTM         0
OCUR_DYWK     18910
EXTING_DTM    18910
RQRMN_TM      18912
ARA_NM          186
CTPRV_NM        143
SGNG_NM         210
EMNDN_NM        144
OCCCRR_RI      7324
ARA_LTNMB        76
CUSE_NM       18976
DMG_AREA      18972
DMG_MONEY     19053
TM_X              0
TM_Y              0
dtype: int64

In [395]:
df_preprocess = df_01[['OCCRR_DTM','RQRMN_TM','CTPRV_NM','SGNG_NM','EMNDN_NM','OCCCRR_RI','ARA_LTNMB','CUSE_NM','DMG_AREA']]

In [396]:
df_preprocess

,OCCRR_DTM,RQRMN_TM,CTPRV_NM,SGNG_NM,EMNDN_NM,OCCCRR_RI,ARA_LTNMB,CUSE_NM,DMG_AREA
0,201303271749,56.0,서울,강북구,수유동,NaN,산127-1,노숙자실화 추정,NaN
1,201310271100,50.0,서울,도봉구,도봉동,NaN,산29-89,미상,NaN
2,201303101450,29.0,서울,서초구,내곡동,NaN,산12-415,밭두렁소각,NaN
3,201304161957,153.0,서울,송파구,마천동,NaN,54-20,방화 추정,NaN
4,201011092158,22.0,서울,종로,평창,NaN,산6-386,입산자실화,0.01
...,...,...,...,...,...,...,...,...,...
28739,202004161903,NaN,제주특별자치도,서귀포시,표선면,성읍리,2870-4,NaN,NaN
28740,202010051538,NaN,제주특별자치도,서귀포시,성산읍,수산리,3988-9,NaN,NaN
28741,202102101434,NaN,제주특별자치도,서귀포시,대정읍,구억리,131,NaN,NaN
28742,202103251152,NaN,제주특별자치도,서귀포시,성산읍,삼달리,2157-1,NaN,NaN
28743,200702242240,115.0,제주,제주,추자,대서,산53,쓰레기소각,1.00

In [397]:
df_preprocess.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28744 entries, 0 to 28743
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   OCCRR_DTM  28744 non-null  int64
 1   RQRMN_TM   9832 non-null   float64
 2   CTPRV_NM   28601 non-null  object
 3   SGNG_NM    28534 non-null  object
 4   EMNDN_NM   28600 non-null  object
 5   OCCCRR_RI  21420 non-null  object
 6   ARA_LTNMB  28668 non-null  object
 7   CUSE_NM    9768 non-null   object
 8   DMG_AREA   9772 non-null   float64
dtypes: float64(2), int64(1), object(6)
memory usage: 2.0+ MB

In [398]:
df_preprocess['OCCCRR_RI'] = df_preprocess['OCCCRR_RI'].fillna("")
df_preprocess['CUSE_NM'] = df_preprocess['CUSE_NM'].fillna('원인불명')

In [399]:
df_preprocess['CTPRV_NM'].unique()

array(['서울', '서울특별시', '경기도', '부산', '부산광역시', '경상남도', nan, '대구', '대구광역시',
       '경상북도', '인천', '인천광역시', '광주', '광주광역시', '전라남도', '대전', '강원', '대전광역시',
       '울산', '울산광역시', '세종', '충남', '충북', '세종특별자치시', '충청남도', '경기', '강원도',
       '충청북도', '전북', '출북', '전라북도', '경남', '전주', '서부', '전남', '경북 포항', '경북',
       '제주', '제주특별자치도'], dtype=object)

In [400]:
df_preprocess['CTPRV_NM'] = df_preprocess['CTPRV_NM'].str.replace("출북", "충북")
df_preprocess['CTPRV_NM'] = df_preprocess['CTPRV_NM'].str.replace("경북 포항", "포항")
df_preprocess['CTPRV_NM'] = df_preprocess['CTPRV_NM'].str.replace("서부", "")

In [401]:
df_preprocess['CTPRV_NM'] = df_preprocess['CTPRV_NM'].fillna("")
df_preprocess['CTPRV_NM'].isnull().sum()

0

In [402]:
df_preprocess['CTPRV_NM'].unique()

array(['서울', '서울특별시', '경기도', '부산', '부산광역시', '경상남도', '', '대구', '대구광역시',
       '경상북도', '인천', '인천광역시', '광주', '광주광역시', '전라남도', '대전', '강원', '대전광역시',
       '울산', '울산광역시', '세종', '충남', '충북', '세종특별자치시', '충청남도', '경기', '강원도',
       '충청북도', '전북', '전라북도', '경남', '전주', '전남', '포항', '경북', '제주',
       '제주특별자치도'], dtype=object)

In [403]:
df_preprocess.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28744 entries, 0 to 28743
Data columns (total 9 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   OCCRR_DTM  28744 non-null  int64
 1   RQRMN_TM   9832 non-null   float64
 2   CTPRV_NM   28744 non-null  object
 3   SGNG_NM    28534 non-null  object
 4   EMNDN_NM   28600 non-null  object
 5   OCCCRR_RI  28744 non-null  object
 6   ARA_LTNMB  28668 non-null  object
 7   CUSE_NM    28744 non-null  object
 8   DMG_AREA   9772 non-null   float64
dtypes: float64(2), int64(1), object(6)
memory usage: 2.0+ MB

In [404]:
df_preprocess = df_preprocess.dropna(subset=['EMNDN_NM' and 'SGNG_NM'])
df_preprocess = df_preprocess.dropna(subset=['EMNDN_NM' and 'SGNG_NM'])

In [405]:
df_preprocess.isnull().sum()

OCCRR_DTM        0
RQRMN_TM     18702
CTPRV_NM         0
SGNG_NM          0
EMNDN_NM         0
OCCCRR_RI        0
ARA_LTNMB       74
CUSE_NM          0
DMG_AREA     18762
dtype: int64

In [406]:
df_preprocess['DMG_AREA'] = df_preprocess['DMG_AREA'].fillna(0)

In [407]:
df_preprocess

,OCCRR_DTM,RQRMN_TM,CTPRV_NM,SGNG_NM,EMNDN_NM,OCCCRR_RI,ARA_LTNMB,CUSE_NM,DMG_AREA
0,201303271749,56.0,서울,강북구,수유동,,산127-1,노숙자실화 추정,0.00
1,201310271100,50.0,서울,도봉구,도봉동,,산29-89,미상,0.00
2,201303101450,29.0,서울,서초구,내곡동,,산12-415,밭두렁소각,0.00
3,201304161957,153.0,서울,송파구,마천동,,54-20,방화 추정,0.00
4,201011092158,22.0,서울,종로,평창,,산6-386,입산자실화,0.01
...,...,...,...,...,...,...,...,...,...
28739,202004161903,NaN,제주특별자치도,서귀포시,표선면,성읍리,2870-4,원인불명,0.00
28740,202010051538,NaN,제주특별자치도,서귀포시,성산읍,수산리,3988-9,원인불명,0.00
28741,202102101434,NaN,제주특별자치도,서귀포시,대정읍,구억리,131,원인불명,0.00
28742,202103251152,NaN,제주특별자치도,서귀포시,성산읍,삼달리,2157-1,원인불명,0.00
28743,200702242240,115.0,제주,제주,추자,대서,산53,쓰레기소각,1.00

In [408]:

df_preprocess['OCCRR_DTM'] = df_preprocess['OCCRR_DTM'].astype('str')

In [409]:
df_preprocess["OCCRR_DTM"]=df_preprocess["OCCRR_DTM"].str[:8]

In [410]:
df_preprocess

,OCCRR_DTM,RQRMN_TM,CTPRV_NM,SGNG_NM,EMNDN_NM,OCCCRR_RI,ARA_LTNMB,CUSE_NM,DMG_AREA
0,20130327,56.0,서울,강북구,수유동,,산127-1,노숙자실화 추정,0.00
1,20131027,50.0,서울,도봉구,도봉동,,산29-89,미상,0.00
2,20130310,29.0,서울,서초구,내곡동,,산12-415,밭두렁소각,0.00
3,20130416,153.0,서울,송파구,마천동,,54-20,방화 추정,0.00
4,20101109,22.0,서울,종로,평창,,산6-386,입산자실화,0.01
...,...,...,...,...,...,...,...,...,...
28739,20200416,NaN,제주특별자치도,서귀포시,표선면,성읍리,2870-4,원인불명,0.00
28740,20201005,NaN,제주특별자치도,서귀포시,성산읍,수산리,3988-9,원인불명,0.00
28741,20210210,NaN,제주특별자치도,서귀포시,대정읍,구억리,131,원인불명,0.00
28742,20210325,NaN,제주특별자치도,서귀포시,성산읍,삼달리,2157-1,원인불명,0.00
28743,20070224,115.0,제주,제주,추자,대서,산53,쓰레기소각,1.00

In [411]:
df_preprocess['OCCRR_DTM'] = pd.to_datetime(df_preprocess['OCCRR_DTM'])

In [412]:
df_preprocess['ADDRESS'] = df_preprocess['CTPRV_NM'] + ' ' + df_preprocess['SGNG_NM'] + ' ' + df_preprocess['EMNDN_NM'] + ' ' + df_preprocess['OCCCRR_RI'] + df_preprocess['ARA_LTNMB']

In [413]:
df_preprocess['ADDRESS'].isnull().sum()

74

In [414]:
df_preprocess = df_preprocess.dropna(subset=['ADDRESS'])

In [415]:
df_preprocess.isnull().sum()

OCCRR_DTM        0
RQRMN_TM     18679
CTPRV_NM         0
SGNG_NM          0
EMNDN_NM         0
OCCCRR_RI        0
ARA_LTNMB        0
CUSE_NM          0
DMG_AREA         0
ADDRESS          0
dtype: int64

In [419]:
df_preprocess.to_csv('forest_fires_preprocessing_3.csv', index=True, header=True, encoding='utf-8-sig')