### Pandas Profiling (EDA)

In [125]:
!pip install pandas_profiling

Collecting pandas_profiling
  Using cached pandas_profiling-3.1.0-py2.py3-none-any.whl (261 kB)
Requirement already satisfied: requests>=2.24.0 in c:\users\user\anaconda3\lib\site-packages (from pandas_profiling) (2.26.0)
Requirement already satisfied: numpy>=1.16.0 in c:\users\user\anaconda3\lib\site-packages (from pandas_profiling) (1.20.3)
Requirement already satisfied: htmlmin>=0.1.12 in c:\users\user\anaconda3\lib\site-packages (from pandas_profiling) (0.1.12)
Requirement already satisfied: PyYAML>=5.0.0 in c:\users\user\anaconda3\lib\site-packages (from pandas_profiling) (6.0)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3 in c:\users\user\anaconda3\lib\site-packages (from pandas_profiling) (1.3.4)
Collecting joblib~=1.0.1
  Using cached joblib-1.0.1-py3-none-any.whl (303 kB)
Requirement already satisfied: pydantic>=1.8.1 in c:\users\user\anaconda3\lib\site-packages (from pandas_profiling) (1.9.0)
Collecting missingno>=0.4.2
  Using cached missingno-0.5.1-py3-none-any.whl (8.7 kB)
Requirement already satisfied: jinja2>=2.11.1 in c:\users\user\anaconda3\lib\site-packages (from pandas_profiling) (2.11.3)
Requirement already satisfied: tqdm>=4.48.2 in c:\users\user\anaconda3\lib\site-packages (from pandas_profiling) (4.62.3)
Collecting phik>=0.11.1
  Using cached phik-0.12.2-cp38-cp38-win_amd64.whl (677 kB)
Collecting visions[type_image_path]==0.7.4
  Using cached visions-0.7.4-py3-none-any.whl (102 kB)
Requirement already satisfied: scipy>=1.4.1 in c:\users\user\anaconda3\lib\site-packages (from pandas_profiling) (1.7.1)
Requirement already satisfied: multimethod>=1.4 in c:\users\user\anaconda3\lib\site-packages (from pandas_profiling) (1.7)
Requirement already satisfied: matplotlib>=3.2.0 in c:\users\user\anaconda3\lib\site-packages (from pandas_profiling) (3.4.3)
Requirement already satisfied: markupsafe~=2.0.1 in c:\users\user\anaconda3\lib\site-packages (from pandas_profiling) (2.0.1)
Requirement already satisfied: seaborn>=0.10.1 in c:\users\user\anaconda3\lib\site-packages (from pandas_profiling) (0.11.2)
Requirement already satisfied: tangled-up-in-unicode==0.1.0 in c:\users\user\anaconda3\lib\site-packages (from pandas_profiling) (0.1.0)
Requirement already satisfied: networkx>=2.4 in c:\users\user\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (2.6.3)
Requirement already satisfied: attrs>=19.3.0 in c:\users\user\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (21.2.0)
Requirement already satisfied: Pillow in c:\users\user\anaconda3\lib\site-packages (from visions[type_image_path]==0.7.4->pandas_profiling) (8.4.0)
Collecting imagehash
  Using cached ImageHash-4.2.1-py2.py3-none-any.whl
Requirement already satisfied: cycler>=0.10 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (1.3.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\user\anaconda3\lib\site-packages (from matplotlib>=3.2.0->pandas_profiling) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\user\anaconda3\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,!=1.1.0,>=0.25.3->pandas_profiling) (2021.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in c:\users\user\anaconda3\lib\site-packages (from pydantic>=1.8.1->pandas_profiling) (3.10.0.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.24.0->pandas_profiling) (2021.10.8)
Requirement already satisfied: colorama in c:\users\user\anaconda3\lib\site-packages (from tqdm>=4.48.2->pandas_profiling) (0.4.4)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.2.0->pandas_profiling) (1.16.0)
Requirement already satisfied: PyWavelets in c:\users\user\anaconda3\lib\site-packages (from imagehash->visions[type_image_path]==0.7.4->pandas_profiling) (1.1.1)
Installing collected packages: joblib, imagehash, visions, phik, missingno, pandas_profiling
  Attempting uninstall: joblib
    Found existing installation: joblib 1.1.0
    Uninstalling joblib-1.1.0:
      Successfully uninstalled joblib-1.1.0
Successfully installed imagehash-4.2.1 joblib-1.0.1 missingno-0.5.1 pandas_profiling-3.1.0 phik-0.12.2 visions-0.7.4

In [225]:
# 라이브러리
import pandas as pd
# from pandas_profiling import ProfileReport
import matplotlib
from matplotlib import font_manager, rc
import platform

# 산불발생통계

In [240]:
# 데이터 불러오기
data = pd.read_csv('산불발생통계.txt')
data

,Unnamed: 0,damagearea,endday,endmonth,endtime,endyear,firecause,locbunji,locdong,locgungu,locmenu,locsi,startday,startdayofweek,startmonth,starttime,startyear
0,0,0.01,29,11,12:44:00,2018,기타,산34,대문,진천,백곡,충북,29,목요일,11,12:14:00,2018
1,1,0.08,26,8,18:00:00,2019,입산자실화,산102,검산,홍천,서석,강원,26,월요일,8,12:10:00,2019
2,2,0.01,26,8,16:50:00,2019,기타,산120,석정,평택,포승,경기,26,월요일,8,16:22:00,2019
3,3,0.02,19,9,16:20:00,2019,쓰레기소각,6-4,녹도,보령,오천,충남,19,목요일,9,10:38:00,2019
4,4,0.16,30,9,18:00:00,2019,입산자실화,산267,도평,포천,이동,경기,29,일요일,9,17:42:00,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4729,4729,1.30,19,3,13:20:00,2017,농산폐기물소각,산70,항금,양평,강하,경기,19,일요일,3,11:29:00,2017
4730,4730,0.03,19,3,13:30:00,2017,기타(직접입력),산6,노래,청송,안덕,경북,19,일요일,3,11:35:00,2017
4731,4731,0.10,19,3,14:58:00,2017,농산폐기물소각,산82,오산,안동,북후,경북,19,일요일,3,12:45:00,2017
4732,4732,0.03,19,3,14:25:00,2017,농산폐기물소각,산2,덕흥,해남,현산,전남,19,일요일,3,12:55:00,2017
4733,4733,0.20,19,3,15:00:00,2017,쓰레기소각,산191,범도,밀양,단장,경남,19,일요일,3,13:00:00,2017

In [5]:
data.columns

Index(['Unnamed: 0', 'damagearea', 'endday', 'endmonth', 'endtime', 'endyear',
       'firecause', 'locbunji', 'locdong', 'locgungu', 'locmenu', 'locsi',
       'startday', 'startdayofweek', 'startmonth', 'starttime', 'startyear'],
      dtype='object')

In [6]:
data2 = data.drop('Unnamed: 0', axis=1)
data2.head()

,damagearea,endday,endmonth,endtime,endyear,firecause,locbunji,locdong,locgungu,locmenu,locsi,startday,startdayofweek,startmonth,starttime,startyear
0,0.01,29,11,12:44:00,2018,기타,산34,대문,진천,백곡,충북,29,목요일,11,12:14:00,2018
1,0.08,26,8,18:00:00,2019,입산자실화,산102,검산,홍천,서석,강원,26,월요일,8,12:10:00,2019
2,0.01,26,8,16:50:00,2019,기타,산120,석정,평택,포승,경기,26,월요일,8,16:22:00,2019
3,0.02,19,9,16:20:00,2019,쓰레기소각,6-4,녹도,보령,오천,충남,19,목요일,9,10:38:00,2019
4,0.16,30,9,18:00:00,2019,입산자실화,산267,도평,포천,이동,경기,29,일요일,9,17:42:00,2019

In [126]:
############ 한글 폰트 지정하는 부분 #################
if platform.system() == 'Windows':
# 윈도우인 경우
    font_path = "C:/Windows/Fonts/NGULIM.TTF"
    font = font_manager.FontProperties(fname=font_path).get_name()
    rc('font', family=font)
else:    
# Mac 인 경우
    rc('font', family='AppleGothic')

#그래프에서 마이너스 기호가 표시되도록 하는 설정입니다.  
matplotlib.rcParams['axes.unicode_minus'] = False   


# 레포트 생성 --> html 파일로 저장하기  
## 한글이 깨지시는 분은 제일 아래 코드로 실행해주세요
report = data2.profile_report()
report.to_file('산불발생통계_EDA.html')

AttributeError: 'DataFrame' object has no attribute 'profile_report'

In [7]:
data2

,damagearea,endday,endmonth,endtime,endyear,firecause,locbunji,locdong,locgungu,locmenu,locsi,startday,startdayofweek,startmonth,starttime,startyear
0,0.01,29,11,12:44:00,2018,기타,산34,대문,진천,백곡,충북,29,목요일,11,12:14:00,2018
1,0.08,26,8,18:00:00,2019,입산자실화,산102,검산,홍천,서석,강원,26,월요일,8,12:10:00,2019
2,0.01,26,8,16:50:00,2019,기타,산120,석정,평택,포승,경기,26,월요일,8,16:22:00,2019
3,0.02,19,9,16:20:00,2019,쓰레기소각,6-4,녹도,보령,오천,충남,19,목요일,9,10:38:00,2019
4,0.16,30,9,18:00:00,2019,입산자실화,산267,도평,포천,이동,경기,29,일요일,9,17:42:00,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4729,1.30,19,3,13:20:00,2017,농산폐기물소각,산70,항금,양평,강하,경기,19,일요일,3,11:29:00,2017
4730,0.03,19,3,13:30:00,2017,기타(직접입력),산6,노래,청송,안덕,경북,19,일요일,3,11:35:00,2017
4731,0.10,19,3,14:58:00,2017,농산폐기물소각,산82,오산,안동,북후,경북,19,일요일,3,12:45:00,2017
4732,0.03,19,3,14:25:00,2017,농산폐기물소각,산2,덕흥,해남,현산,전남,19,일요일,3,12:55:00,2017
4733,0.20,19,3,15:00:00,2017,쓰레기소각,산191,범도,밀양,단장,경남,19,일요일,3,13:00:00,2017

In [8]:
data2['locsi'].unique()

array(['충북', '강원', '경기', '충남', '인천', '경북', '경남', '전북', '전남', '부산', '울산',
       '광주', '대구', '서울', '대전', '세종', '제주'], dtype=object)

In [9]:
data2.groupby('startyear').count()

,damagearea,endday,endmonth,endtime,endyear,firecause,locbunji,locdong,locgungu,locmenu,locsi,startday,startdayofweek,startmonth,starttime
startyear,,,,,,,,,,,,,,,
2011,277,277,277,277,277,277,277,277,277,277,277,277,277,277,277
2012,197,197,197,197,197,197,197,197,197,197,197,197,197,197,197
2013,296,296,296,296,296,296,296,296,296,296,296,296,296,296,296
2014,492,492,492,492,492,492,492,492,492,492,492,492,492,492,492
2015,623,623,623,623,623,623,623,623,623,623,623,623,623,623,623
2016,391,391,391,391,391,391,391,391,391,391,391,391,391,391,391
2017,692,692,692,692,692,692,692,692,692,692,692,692,692,692,692
2018,496,496,496,496,496,496,496,496,496,496,496,496,496,496,496
2019,650,650,650,650,650,650,650,650,650,650,650,650,650,650,650
2020,620,620,620,620,620,620,620,620,620,620,620,620,620,620,620

In [10]:
data2['locsi'].value_counts()

경기    950
경북    792
강원    709
경남    415
전남    401
충남    262
충북    242
전북    216
인천    176
부산    125
서울    114
울산    113
대구     74
대전     74
광주     34
세종     32
제주      5
Name: locsi, dtype: int64

In [11]:
data2['locgungu'].value_counts()

춘천     98
홍천     98
양평     87
화성     86
안동     77
       ..
우지      1
상봉암     1
황상      1
미포      1
용탄      1
Name: locgungu, Length: 643, dtype: int64

In [12]:
a = data2['startmonth'].value_counts()
a

3     1287
4     1044
2      524
5      474
6      363
1      331
12     193
11     183
10     146
8       83
9       57
7       49
Name: startmonth, dtype: int64

In [13]:
b = a.sort_index()
fire_count = list(b)
fire_count

[331, 524, 1287, 1044, 474, 363, 49, 83, 57, 146, 183, 193]

# 풍속_습도_강수량(2011~2020)(월별)

In [47]:
data = pd.read_csv('풍속_습도_강수량.csv', encoding = 'cp949')
data.head(10)

,지점,지점명,일시,평균상대습도(%),월합강수량(00~24h만)(mm),평균풍속(m/s),최대순간풍속(m/s),최대풍속 풍향(16방위)
0,90,속초,2011-01,33.0,12.0,2.7,17.2,290.0
1,90,속초,2011-02,62.0,105.6,2.2,14.0,360.0
2,90,속초,2011-03,45.0,20.4,2.7,17.7,360.0
3,90,속초,2011-04,54.0,115.7,3.2,20.6,290.0
4,90,속초,2011-05,71.0,65.3,2.3,21.0,290.0
5,90,속초,2011-06,72.0,341.5,2.1,15.9,360.0
6,90,속초,2011-07,87.0,412.1,1.5,10.7,360.0
7,90,속초,2011-08,81.0,140.3,1.7,13.5,160.0
8,90,속초,2011-09,72.0,190.1,2.2,13.1,360.0
9,90,속초,2011-10,59.0,22.1,2.0,16.0,290.0

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11272 entries, 0 to 11271
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   지점                  11272 non-null  int64
 1   지점명                 11272 non-null  object
 2   일시                  11272 non-null  object
 3   평균상대습도(%)           11261 non-null  float64
 4   월합강수량(00~24h만)(mm)  11265 non-null  float64
 5   평균풍속(m/s)           11261 non-null  float64
 6   최대순간풍속(m/s)         11272 non-null  float64
 7   최대풍속 풍향(16방위)       11271 non-null  float64
dtypes: float64(5), int64(1), object(2)
memory usage: 704.6+ KB

In [16]:
print(len(data.index))

11272

In [17]:
for i in range(1,10):
    print('< 0',i,'월 습도_강수량_풍속 정보 >')
    print(data[['평균상대습도(%)', '월합강수량(00~24h만)(mm)','최대순간풍속(m/s)']][data['일시'].str.contains('0'+str(i))].mean().round(1))
for i in range(10,13):
    print('<',i,'월 습도_강수량_풍속 정보 >')
    print(data[['평균상대습도(%)', '월합강수량(00~24h만)(mm)','최대순간풍속(m/s)']][data['일시'].str.contains(str(i))].mean().round(1))

< 0 1 월 습도_강수량_풍속 정보 >
평균상대습도(%)              68.4
월합강수량(00~24h만)(mm)    107.0
최대순간풍속(m/s)            15.0
dtype: float64
< 0 2 월 습도_강수량_풍속 정보 >
평균상대습도(%)             65.7
월합강수량(00~24h만)(mm)    94.3
최대순간풍속(m/s)           15.3
dtype: float64
< 0 3 월 습도_강수량_풍속 정보 >
평균상대습도(%)             59.6
월합강수량(00~24h만)(mm)    58.4
최대순간풍속(m/s)           16.0
dtype: float64
< 0 4 월 습도_강수량_풍속 정보 >
평균상대습도(%)              61.5
월합강수량(00~24h만)(mm)    104.7
최대순간풍속(m/s)            16.9
dtype: float64
< 0 5 월 습도_강수량_풍속 정보 >
평균상대습도(%)             64.9
월합강수량(00~24h만)(mm)    87.9
최대순간풍속(m/s)           15.5
dtype: float64
< 0 6 월 습도_강수량_풍속 정보 >
평균상대습도(%)              73.6
월합강수량(00~24h만)(mm)    126.9
최대순간풍속(m/s)            12.9
dtype: float64
< 0 7 월 습도_강수량_풍속 정보 >
평균상대습도(%)              81.5
월합강수량(00~24h만)(mm)    278.1
최대순간풍속(m/s)            14.3
dtype: float64
< 0 8 월 습도_강수량_풍속 정보 >
평균상대습도(%)              80.1
월합강수량(00~24h만)(mm)    252.1
최대순간풍속(m/s)            15.9
dtype: float64
< 0 9 월 습도_강수량_풍속 정보 >
평균상대습도(%)              77.7
월합강수량(00~24h만)(mm)    155.9
최대순간풍속(m/s)            14.6
dtype: float64
< 10 월 습도_강수량_풍속 정보 >
평균상대습도(%)             72.1
월합강수량(00~24h만)(mm)    92.4
최대순간풍속(m/s)           14.8
dtype: float64
< 11 월 습도_강수량_풍속 정보 >
평균상대습도(%)              68.0
월합강수량(00~24h만)(mm)    101.8
최대순간풍속(m/s)            15.3
dtype: float64
< 12 월 습도_강수량_풍속 정보 >
평균상대습도(%)             65.5
월합강수량(00~24h만)(mm)    85.2
최대순간풍속(m/s)           16.1
dtype: float64

In [20]:
humidity_mean = []
rain_sum = []
wind_max = []

for i in range(1,10):
    humidity_mean.append(data['평균상대습도(%)'][data['일시'].str.contains('0'+str(i))].mean())
    rain_sum.append(data['월합강수량(00~24h만)(mm)'][data['일시'].str.contains('0'+str(i))].mean())
    wind_max.append(data['최대순간풍속(m/s)'][data['일시'].str.contains('0'+str(i))].mean())
    print('< 0',i,'월 습도_강수량_풍속 정보 >')
    print(data[['평균상대습도(%)', '월합강수량(00~24h만)(mm)','최대순간풍속(m/s)']][data['일시'].str.contains('0'+str(i))].mean().round(1))
    
for i in range(10,13):
    humidity_mean.append(data['평균상대습도(%)'][data['일시'].str.contains(str(i))].mean())
    rain_sum.append(data['월합강수량(00~24h만)(mm)'][data['일시'].str.contains(str(i))].mean())
    wind_max.append(data['최대순간풍속(m/s)'][data['일시'].str.contains(str(i))].mean())
    print('<',i,'월 습도_강수량_풍속 정보 >')
    print(data[['평균상대습도(%)', '월합강수량(00~24h만)(mm)','최대순간풍속(m/s)']][data['일시'].str.contains(str(i))].mean().round(1))
    
print(humidity_mean)
print(rain_sum)
print(wind_max)

< 0 1 월 습도_강수량_풍속 정보 >
평균상대습도(%)              68.4
월합강수량(00~24h만)(mm)    107.0
최대순간풍속(m/s)            15.0
dtype: float64
< 0 2 월 습도_강수량_풍속 정보 >
평균상대습도(%)             65.7
월합강수량(00~24h만)(mm)    94.3
최대순간풍속(m/s)           15.3
dtype: float64
< 0 3 월 습도_강수량_풍속 정보 >
평균상대습도(%)             59.6
월합강수량(00~24h만)(mm)    58.4
최대순간풍속(m/s)           16.0
dtype: float64
< 0 4 월 습도_강수량_풍속 정보 >
평균상대습도(%)              61.5
월합강수량(00~24h만)(mm)    104.7
최대순간풍속(m/s)            16.9
dtype: float64
< 0 5 월 습도_강수량_풍속 정보 >
평균상대습도(%)             64.9
월합강수량(00~24h만)(mm)    87.9
최대순간풍속(m/s)           15.5
dtype: float64
< 0 6 월 습도_강수량_풍속 정보 >
평균상대습도(%)              73.6
월합강수량(00~24h만)(mm)    126.9
최대순간풍속(m/s)            12.9
dtype: float64
< 0 7 월 습도_강수량_풍속 정보 >
평균상대습도(%)              81.5
월합강수량(00~24h만)(mm)    278.1
최대순간풍속(m/s)            14.3
dtype: float64
< 0 8 월 습도_강수량_풍속 정보 >
평균상대습도(%)              80.1
월합강수량(00~24h만)(mm)    252.1
최대순간풍속(m/s)            15.9
dtype: float64
< 0 9 월 습도_강수량_풍속 정보 >
평균상대습도(%)              77.7
월합강수량(00~24h만)(mm)    155.9
최대순간풍속(m/s)            14.6
dtype: float64
< 10 월 습도_강수량_풍속 정보 >
평균상대습도(%)             72.1
월합강수량(00~24h만)(mm)    92.4
최대순간풍속(m/s)           14.8
dtype: float64
< 11 월 습도_강수량_풍속 정보 >
평균상대습도(%)              68.0
월합강수량(00~24h만)(mm)    101.8
최대순간풍속(m/s)            15.3
dtype: float64
< 12 월 습도_강수량_풍속 정보 >
평균상대습도(%)             65.5
월합강수량(00~24h만)(mm)    85.2
최대순간풍속(m/s)           16.1
dtype: float64
[68.4100430696946, 65.69021190716448, 59.57692307692308, 61.54429028815368, 64.86581469648563, 73.62978723404255, 81.48294243070363, 80.05229455709711, 77.7409381663113, 72.14893617021276, 67.9749744637385, 65.52938170669393]
[106.98116438356021, 94.28118062563081, 58.424840085287784, 104.67124600638981, 87.89054197662065, 126.91859723698198, 278.0888297872345, 252.09157782516039, 155.9237739872071, 92.40361702127647, 101.80337768679667, 85.17115875446689]
[14.997604380561311, 15.286377396569096, 16.029637526652436, 16.920979765708207, 15.542720510095632, 12.878108395324112, 14.257978723404246, 15.853248136315239, 14.56631130063966, 14.780531914893624, 15.282031648800418, 16.096428571428582]

In [21]:
df = pd.DataFrame({'month':range(1,13), 'humidity_mean':humidity_mean, 'rain_sum':rain_sum, 'wind_max':wind_max})
df

    month  humidity_mean    rain_sum   wind_max
0       1      68.410043  106.981164  14.997604
1       2      65.690212   94.281181  15.286377
2       3      59.576923   58.424840  16.029638
3       4      61.544290  104.671246  16.920980
4       5      64.865815   87.890542  15.542721
5       6      73.629787  126.918597  12.878108
6       7      81.482942  278.088830  14.257979
7       8      80.052295  252.091578  15.853248
8       9      77.740938  155.923774  14.566311
9      10      72.148936   92.403617  14.780532
10     11      67.974974  101.803378  15.282032
11     12      65.529382   85.171159  16.096429

In [22]:
df['humidity_mean'] = df['humidity_mean'].round(1)
df['rain_sum'] = df['rain_sum'].round(1)
df['wind_max'] = df['wind_max'].round(1)

In [23]:
df

    month  humidity_mean  rain_sum  wind_max
0       1           68.4     107.0      15.0
1       2           65.7      94.3      15.3
2       3           59.6      58.4      16.0
3       4           61.5     104.7      16.9
4       5           64.9      87.9      15.5
5       6           73.6     126.9      12.9
6       7           81.5     278.1      14.3
7       8           80.1     252.1      15.9
8       9           77.7     155.9      14.6
9      10           72.1      92.4      14.8
10     11           68.0     101.8      15.3
11     12           65.5      85.2      16.1

In [24]:
print(df.sort_values('humidity_mean'))
print(df.sort_values('rain_sum'))
print(df.sort_values('wind_max'))

    month  humidity_mean  rain_sum  wind_max
2       3           59.6      58.4      16.0
3       4           61.5     104.7      16.9
4       5           64.9      87.9      15.5
11     12           65.5      85.2      16.1
1       2           65.7      94.3      15.3
10     11           68.0     101.8      15.3
0       1           68.4     107.0      15.0
9      10           72.1      92.4      14.8
5       6           73.6     126.9      12.9
8       9           77.7     155.9      14.6
7       8           80.1     252.1      15.9
6       7           81.5     278.1      14.3
    month  humidity_mean  rain_sum  wind_max
2       3           59.6      58.4      16.0
11     12           65.5      85.2      16.1
4       5           64.9      87.9      15.5
9      10           72.1      92.4      14.8
1       2           65.7      94.3      15.3
10     11           68.0     101.8      15.3
3       4           61.5     104.7      16.9
0       1           68.4     107.0      15.0
5       6           73.6     126.9      12.9
8       9           77.7     155.9      14.6
7       8           80.1     252.1      15.9
6       7           81.5     278.1      14.3
    month  humidity_mean  rain_sum  wind_max
5       6           73.6     126.9      12.9
6       7           81.5     278.1      14.3
8       9           77.7     155.9      14.6
9      10           72.1      92.4      14.8
0       1           68.4     107.0      15.0
1       2           65.7      94.3      15.3
10     11           68.0     101.8      15.3
4       5           64.9      87.9      15.5
7       8           80.1     252.1      15.9
2       3           59.6      58.4      16.0
11     12           65.5      85.2      16.1
3       4           61.5     104.7      16.9

In [25]:
df.sort_values(by = 'humidity_mean', axis=0)

    month  humidity_mean  rain_sum  wind_max
2       3           59.6      58.4      16.0
3       4           61.5     104.7      16.9
4       5           64.9      87.9      15.5
11     12           65.5      85.2      16.1
1       2           65.7      94.3      15.3
10     11           68.0     101.8      15.3
0       1           68.4     107.0      15.0
9      10           72.1      92.4      14.8
5       6           73.6     126.9      12.9
8       9           77.7     155.9      14.6
7       8           80.1     252.1      15.9
6       7           81.5     278.1      14.3

In [26]:
df.sort_values(by = 'rain_sum', axis=0)

    month  humidity_mean  rain_sum  wind_max
2       3           59.6      58.4      16.0
11     12           65.5      85.2      16.1
4       5           64.9      87.9      15.5
9      10           72.1      92.4      14.8
1       2           65.7      94.3      15.3
10     11           68.0     101.8      15.3
3       4           61.5     104.7      16.9
0       1           68.4     107.0      15.0
5       6           73.6     126.9      12.9
8       9           77.7     155.9      14.6
7       8           80.1     252.1      15.9
6       7           81.5     278.1      14.3

In [27]:
df.sort_values(by = 'wind_max', axis=0, ascending=False)

    month  humidity_mean  rain_sum  wind_max
3       4           61.5     104.7      16.9
11     12           65.5      85.2      16.1
2       3           59.6      58.4      16.0
7       8           80.1     252.1      15.9
4       5           64.9      87.9      15.5
1       2           65.7      94.3      15.3
10     11           68.0     101.8      15.3
0       1           68.4     107.0      15.0
9      10           72.1      92.4      14.8
8       9           77.7     155.9      14.6
6       7           81.5     278.1      14.3
5       6           73.6     126.9      12.9

In [28]:
df

    month  humidity_mean  rain_sum  wind_max
0       1           68.4     107.0      15.0
1       2           65.7      94.3      15.3
2       3           59.6      58.4      16.0
3       4           61.5     104.7      16.9
4       5           64.9      87.9      15.5
5       6           73.6     126.9      12.9
6       7           81.5     278.1      14.3
7       8           80.1     252.1      15.9
8       9           77.7     155.9      14.6
9      10           72.1      92.4      14.8
10     11           68.0     101.8      15.3
11     12           65.5      85.2      16.1

In [29]:
df['fire_count'] = fire_count
df

    month  humidity_mean  rain_sum  wind_max  fire_count
0       1           68.4     107.0      15.0         331
1       2           65.7      94.3      15.3         524
2       3           59.6      58.4      16.0        1287
3       4           61.5     104.7      16.9        1044
4       5           64.9      87.9      15.5         474
5       6           73.6     126.9      12.9         363
6       7           81.5     278.1      14.3          49
7       8           80.1     252.1      15.9          83
8       9           77.7     155.9      14.6          57
9      10           72.1      92.4      14.8         146
10     11           68.0     101.8      15.3         183
11     12           65.5      85.2      16.1         193

In [30]:
df.to_csv('firecount,humid,rain,wind_month.csv', header=True, encoding='cp949')

In [31]:
data2

,damagearea,endday,endmonth,endtime,endyear,firecause,locbunji,locdong,locgungu,locmenu,locsi,startday,startdayofweek,startmonth,starttime,startyear
0,0.01,29,11,12:44:00,2018,기타,산34,대문,진천,백곡,충북,29,목요일,11,12:14:00,2018
1,0.08,26,8,18:00:00,2019,입산자실화,산102,검산,홍천,서석,강원,26,월요일,8,12:10:00,2019
2,0.01,26,8,16:50:00,2019,기타,산120,석정,평택,포승,경기,26,월요일,8,16:22:00,2019
3,0.02,19,9,16:20:00,2019,쓰레기소각,6-4,녹도,보령,오천,충남,19,목요일,9,10:38:00,2019
4,0.16,30,9,18:00:00,2019,입산자실화,산267,도평,포천,이동,경기,29,일요일,9,17:42:00,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4729,1.30,19,3,13:20:00,2017,농산폐기물소각,산70,항금,양평,강하,경기,19,일요일,3,11:29:00,2017
4730,0.03,19,3,13:30:00,2017,기타(직접입력),산6,노래,청송,안덕,경북,19,일요일,3,11:35:00,2017
4731,0.10,19,3,14:58:00,2017,농산폐기물소각,산82,오산,안동,북후,경북,19,일요일,3,12:45:00,2017
4732,0.03,19,3,14:25:00,2017,농산폐기물소각,산2,덕흥,해남,현산,전남,19,일요일,3,12:55:00,2017
4733,0.20,19,3,15:00:00,2017,쓰레기소각,산191,범도,밀양,단장,경남,19,일요일,3,13:00:00,2017

In [32]:
data2['locsi'].value_counts()

경기    950
경북    792
강원    709
경남    415
전남    401
충남    262
충북    242
전북    216
인천    176
부산    125
서울    114
울산    113
대구     74
대전     74
광주     34
세종     32
제주      5
Name: locsi, dtype: int64

In [33]:
data2['locgungu'].value_counts()

춘천     98
홍천     98
양평     87
화성     86
안동     77
       ..
우지      1
상봉암     1
황상      1
미포      1
용탄      1
Name: locgungu, Length: 643, dtype: int64

In [36]:
data2['locgungu'].unique()

array(['진천', '홍천', '평택', '보령', '포천', '공주', '횡성', '덕교', '영덕', '도일', '서산',
       '옹진', '안양', '창원', '군위', '고령', '산회', '거창', '전주', '남양주', '여수', '홍성',
       '함양', '안동', '강릉', '성남', '창녕', '동', '양평', '광주', '파주', '완주', '양구',
       '삼척', '목포', '춘천', '칠곡', '서천', '인제', '정선', '남', '김천', '순창', '밀양',
       '논산', '원동', '청주', '남원', '금산', '문경', '구례', '평창', '진주', '울주', '포항',
       '달성', '장성', '순천', '도림', '통영', '울진', '담양', '가평', '강화', '양산', '반송',
       '구미', '합천', '해남', '거제', '천안', '안성', '의령', '아산', '봉화', '의성', '함안',
       '원주', '연천', '고성', '용인', '기장', '고양', '이천', '당진', '온천3', '영천', '상주',
       '경주', '감천', '영월', '상계', '예천', '보은', '태안', '음성', '초일', '진안', '목달',
       '도봉', '별내', '남곡', '괴정', '경산', '풍무', '대정', '산청', '포', '청도', '도',
       '성북', '이장', '무주', '임실', '단양', '화천', '길', '논곡', '괴산', '석사', '괘법',
       '장수', '하동', '장흥', '군산', '영동', '상패', '여주', '목', '동부', '죽정', '영양',
       '시천', '다운', '화성', '영주', '청송', '운북', '광양', '탑동', '좌', '대', '정',
       '영암', '김해', '천곡', '금곡', '화순', '성안', '수원', '안산', '진인', '쌍암', '예산',
       '우이', '성덕', '익산', '초이', '나주', '양양', '신현', '구산', '지산', '공촌', '진도',
       '연동', '창우', '보성', '반여', '강진', '화정', '충주', '제천', '온천', '무수', '와',
       '백산', '완도', '옥천', '대곡', '함평', '가정', '읍내', '교문', '태전', '신흥', '상지석',
       '우지', '아천', '상봉암', '황상', '미포', '국', '월곶', '을왕', '세교', '엄궁', '전동',
       '광암', '감일', '당리', '금탄', '금남', '고흥', '마전', '성주', '구정', '사노', '덕동',
       '양주', '울릉', '풍산', '단계', '산북', '문원', '모전', '시청', '정읍', '대야미', '방',
       '가재', '박촌', '세종', '청천', '불광', '온수', '도문', '공평', '가사', '인의', '인창',
       '창평', '계수', '호평', '곡성', '동두천', '서', '철원', '오산', '하남', '연기', '의왕',
       '힙천', '사천', '광산', '시흥', '증평', '남동', '금정', '계양', '과천', '군포', '청양',
       '사하', '제주', '대덕', '영광', '연수', '북', '동래', '김포', '광명', '은평', '의정부',
       '정자', '찬안', '부평', '진평', '중', '무안', '조치원', '달서', '노원', '구리', '불은',
       '고창', '동해', '서귀포', '우천', '해운대', '명', '오수', '신안', '불로', '지사', '마산',
       '우', '풍암', '오운', '태장', '가대', '주진', '청원', '동춘', '비례', '선', '죽헌',
       '조례', '상안', '금사', '삼호', '대전', '장재', '학하', '옥포', '송천', '삼계', '무거',
       '법', '화곡', '중곡', '방화', '서창', '조남', '세곡', '직', '신선', '하산곡', '문현',
       '이사', '도지', '초읍', '동현', '대명', '남해', '교촌', '지정', '고모', '전의', '금이',
       '방축', '용운', '온의', '운림', '덕계', '신림', '연산', '모라', '석남', '김제', '연경',
       '내곡', '연서', '외', '남북', '부안', '과림', '만수', '석수', '월계', '노포', '면목',
       '홍은', '부여', '수색', '장군', '광평', '속달', '소룡', '신기', '민락', '둔대', '서암',
       '미음', '옥인', '대연', '석현', '달천', '장', '낭월', '하소', '판암', '대호', '마천',
       '주월', '암남', '춘궁', '계산', '부민', '불정', '이패', '평내', '망월', '풍', '장암',
       '구완', '오전', '학의', '철암', '상인', '벌량', '창포', '대안', '설악', '구평', '간석',
       '영도', '오류', '문암', '대성', '고현', '진관', '갈현', '중대', '효성', '인헌', '노은사',
       '대사', '상산곡', '내손', '포항`', '하사미', '범일', '부산', '능내', '창원 마산회원', '장전',
       '지묘', '포항 남', '구암', '포항 북', '주남', '고사', '월남', '시곡', '쌍령', '배',
       '봉산', '삼', '산성', '월암', '칠전', '관음', '용수', '석교', '율도', '임학', '장등',
       '사호', '가오', '산학', '중화', '각산', '대별', '도학', '범물', '원', '부암', '욱수',
       '기안', '동림', '하봉암', '용암', '관설', '관악산 2광장', '개포', '동선', '진포', '운서',
       '대청', '오륜', '대산', '개금', '남현', '손곡', '내', '문곡', '연호', '옥룡', '장유',
       '화산', '대야', '동변', '운안', '대교', '막계', '주례', '평산', '각서', '신촌', '학',
       '퇴촌', '증포', '다남', '삼성', '운당', '방학', '정왕', '운연', '매월', '대학', '십정',
       '가천', '만덕', '부천', '선원', '수유', '봉계', '무악', '원지', '도기', '부곡', '수산',
       '창', '소호', '만촌', '신월', '미룡', '하기', '용당', '구도', '발한', '영선', '양정',
       '신세', '금성', '내발산', '성암', '등봉', '행정', '안서', '부개', '산곡', '효평', '호',
       '광장', '작', '망우', '가수원', '신원', '상계1', '전포', '마평', '초량', '두암', '삼괴',
       '감북', '개화', '기룡', '목현', '장현', '모산', '옥천 ', '여서', '다대', '유산', '소태',
       '용담', '장승포', '구의', '서변', '목상', '일원', '녹산', '개봉', '노곡', '용연', '당',
       '창전', '안흥', '심곡', '무지내', '갑', '문정', '송학', '복수', '귀운', '주전', '두구',
       '학용', '박호', '궁', '고척', '둑실', '하', '학암', '중앙', '내촌', '조양', '팔달',
       '내홍', '가좌', '대국', '사정', '삼방', '양호', '용흥', '화명', '수월', '선암', '광안',
       '불암', '신', '서부', '이곡', '보산', '중계', '유천', '둔촌', '양사', '쇄운', '강일',
       '신창', '금촌', '상소', '동수', '석대', '주산', '어물', '재송', '방어', '시흥5', '논현',
       '구룡', '주미', '월평', '삼거', '청풍', '시례', '경서', '항', '작전', '상아', '삼패',
       '운남', '생연', '도통', '당하', '상모', '명장', '경현', '교', '창원시', '상암', '신사',
       '도경', '소하', '암사', '원당', '유양', '고암', '달전', '용탄'], dtype=object)

In [34]:
data

,지점,지점명,일시,평균상대습도(%),월합강수량(00~24h만)(mm),평균풍속(m/s),최대순간풍속(m/s),최대풍속 풍향(16방위)
0,90,속초,2011-01,33.0,12.0,2.7,17.2,290.0
1,90,속초,2011-02,62.0,105.6,2.2,14.0,360.0
2,90,속초,2011-03,45.0,20.4,2.7,17.7,360.0
3,90,속초,2011-04,54.0,115.7,3.2,20.6,290.0
4,90,속초,2011-05,71.0,65.3,2.3,21.0,290.0
...,...,...,...,...,...,...,...,...
11267,295,남해,2020-08,85.0,196.0,1.5,22.4,110.0
11268,295,남해,2020-09,81.0,313.2,1.6,20.7,290.0
11269,295,남해,2020-10,66.0,28.9,1.4,10.6,290.0
11270,295,남해,2020-11,64.0,62.8,1.5,16.5,290.0
11271,295,남해,2020-12,59.0,15.0,1.5,15.9,320.0

In [35]:
data['지점명'].unique()

array(['속초', '북춘천', '철원', '동두천', '파주', '대관령', '춘천', '백령도', '북강릉', '강릉',
       '동해', '서울', '인천', '원주', '울릉도', '수원', '영월', '충주', '서산', '울진', '청주',
       '대전', '추풍령', '안동', '상주', '포항', '군산', '대구', '전주', '울산', '창원', '광주',
       '부산', '통영', '목포', '여수', '흑산도', '완도', '고창', '순천', '진도(첨찰산)',
       '대구(기)', '홍성', '제주', '고산', '성산', '서귀포', '진주', '강화', '양평', '이천',
       '인제', '홍천', '태백', '정선군', '제천', '보은', '천안', '보령', '부여', '금산', '세종',
       '부안', '임실', '정읍', '남원', '장수', '고창군', '영광군', '김해시', '순창군', '북창원',
       '주암', '양산시', '보성군', '강진군', '장흥', '해남', '고흥', '의령군', '함양군', '광양시',
       '진도군', '봉화', '영주', '문경', '청송군', '영덕', '의성', '구미', '영천', '경주시',
       '거창', '합천', '밀양', '산청', '거제', '남해'], dtype=object)

In [37]:
data['지점명'].value_counts()

속초       120
금산       120
순창군      120
김해시      120
영광군      120
        ...
홍성        62
북춘천       51
대구(기)     21
세종        20
주암        19
Name: 지점명, Length: 98, dtype: int64

# data  -->     지역별 습도/강수량/풍속
# data2   -->    산불 데이터

In [48]:
data

,지점,지점명,일시,평균상대습도(%),월합강수량(00~24h만)(mm),평균풍속(m/s),최대순간풍속(m/s),최대풍속 풍향(16방위)
0,90,속초,2011-01,33.0,12.0,2.7,17.2,290.0
1,90,속초,2011-02,62.0,105.6,2.2,14.0,360.0
2,90,속초,2011-03,45.0,20.4,2.7,17.7,360.0
3,90,속초,2011-04,54.0,115.7,3.2,20.6,290.0
4,90,속초,2011-05,71.0,65.3,2.3,21.0,290.0
...,...,...,...,...,...,...,...,...
11267,295,남해,2020-08,85.0,196.0,1.5,22.4,110.0
11268,295,남해,2020-09,81.0,313.2,1.6,20.7,290.0
11269,295,남해,2020-10,66.0,28.9,1.4,10.6,290.0
11270,295,남해,2020-11,64.0,62.8,1.5,16.5,290.0
11271,295,남해,2020-12,59.0,15.0,1.5,15.9,320.0

In [63]:
data = data.replace(['백령도','강화'], '인천')
data = data.replace('대구(기)', '대구')
data = data.replace('창원', '경남')
data = data.replace(['서귀포', '성산'], '제주')
data = data.replace(['동두천','파주','수원','양평', '이천'], '경기')
data = data.replace(['울릉도','울진','안동','상주','포항','봉화','영주','문경',
                    '청송군','영덕','의성','구미','영천','경주시'], '경북')
data = data.replace(['속초','북춘천','철원','대관령','춘천','북강릉','강릉','동해',
                    '원주','영월','인제','홍천','태백','정선군'], '강원')
data = data.replace(['통영','진주','김해시','양산시','의령군','함양군','거창','합천',
                    '밀양','산청','거제','남해'], '경남')
data = data.replace(['목포','여수','흑산도','완도','고창','순천','진도(첨찰산)','영광군',
                     '주암','보성군','강진군','장흥','해남','고흥','광양시','진도군'], '전남')
data = data.replace(['서산','홍성','천안','보령','부여','금산'], '충남')
data = data.replace(['충주','청주','추풍령','제천','보은'], '충북')
data = data.replace(['전주','군산','부안','임실','정읍','남원','장수','고창군',
                    '순창군','고산'], '전북')

In [64]:
data

,지점,지점명,일시,평균상대습도(%),월합강수량(00~24h만)(mm),평균풍속(m/s),최대순간풍속(m/s),최대풍속 풍향(16방위)
0,90,강원,2011-01,33.0,12.0,2.7,17.2,290.0
1,90,강원,2011-02,62.0,105.6,2.2,14.0,360.0
2,90,강원,2011-03,45.0,20.4,2.7,17.7,360.0
3,90,강원,2011-04,54.0,115.7,3.2,20.6,290.0
4,90,강원,2011-05,71.0,65.3,2.3,21.0,290.0
...,...,...,...,...,...,...,...,...
11267,295,경남,2020-08,85.0,196.0,1.5,22.4,110.0
11268,295,경남,2020-09,81.0,313.2,1.6,20.7,290.0
11269,295,경남,2020-10,66.0,28.9,1.4,10.6,290.0
11270,295,경남,2020-11,64.0,62.8,1.5,16.5,290.0
11271,295,경남,2020-12,59.0,15.0,1.5,15.9,320.0

In [66]:
print(data['지점명'].unique())
print(len(data['지점명'].unique()))

['강원' '경기' '인천' '서울' '경북' '충북' '충남' '대전' '전북' '대구' '울산' '경남' '광주' '부산'
 '전남' '제주' '세종']
17

## ==>  data의 [지점명]과 data2의 [locsi]를 일치시켜줌

In [67]:
data

,지점,지점명,일시,평균상대습도(%),월합강수량(00~24h만)(mm),평균풍속(m/s),최대순간풍속(m/s),최대풍속 풍향(16방위)
0,90,강원,2011-01,33.0,12.0,2.7,17.2,290.0
1,90,강원,2011-02,62.0,105.6,2.2,14.0,360.0
2,90,강원,2011-03,45.0,20.4,2.7,17.7,360.0
3,90,강원,2011-04,54.0,115.7,3.2,20.6,290.0
4,90,강원,2011-05,71.0,65.3,2.3,21.0,290.0
...,...,...,...,...,...,...,...,...
11267,295,경남,2020-08,85.0,196.0,1.5,22.4,110.0
11268,295,경남,2020-09,81.0,313.2,1.6,20.7,290.0
11269,295,경남,2020-10,66.0,28.9,1.4,10.6,290.0
11270,295,경남,2020-11,64.0,62.8,1.5,16.5,290.0
11271,295,경남,2020-12,59.0,15.0,1.5,15.9,320.0

In [68]:
data2

,damagearea,endday,endmonth,endtime,endyear,firecause,locbunji,locdong,locgungu,locmenu,locsi,startday,startdayofweek,startmonth,starttime,startyear
0,0.01,29,11,12:44:00,2018,기타,산34,대문,진천,백곡,충북,29,목요일,11,12:14:00,2018
1,0.08,26,8,18:00:00,2019,입산자실화,산102,검산,홍천,서석,강원,26,월요일,8,12:10:00,2019
2,0.01,26,8,16:50:00,2019,기타,산120,석정,평택,포승,경기,26,월요일,8,16:22:00,2019
3,0.02,19,9,16:20:00,2019,쓰레기소각,6-4,녹도,보령,오천,충남,19,목요일,9,10:38:00,2019
4,0.16,30,9,18:00:00,2019,입산자실화,산267,도평,포천,이동,경기,29,일요일,9,17:42:00,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4729,1.30,19,3,13:20:00,2017,농산폐기물소각,산70,항금,양평,강하,경기,19,일요일,3,11:29:00,2017
4730,0.03,19,3,13:30:00,2017,기타(직접입력),산6,노래,청송,안덕,경북,19,일요일,3,11:35:00,2017
4731,0.10,19,3,14:58:00,2017,농산폐기물소각,산82,오산,안동,북후,경북,19,일요일,3,12:45:00,2017
4732,0.03,19,3,14:25:00,2017,농산폐기물소각,산2,덕흥,해남,현산,전남,19,일요일,3,12:55:00,2017
4733,0.20,19,3,15:00:00,2017,쓰레기소각,산191,범도,밀양,단장,경남,19,일요일,3,13:00:00,2017

In [ ]:
humidity_mean = []
rain_sum = []
wind_max = []

for i in range(1,10):
    humidity_mean.append(data['평균상대습도(%)'][data['일시'].str.contains('0'+str(i))].mean())
    rain_sum.append(data['월합강수량(00~24h만)(mm)'][data['일시'].str.contains('0'+str(i))].mean())
    wind_max.append(data['최대순간풍속(m/s)'][data['일시'].str.contains('0'+str(i))].mean())
    print('< 0',i,'월 습도_강수량_풍속 정보 >')
    print(data[['평균상대습도(%)', '월합강수량(00~24h만)(mm)','최대순간풍속(m/s)']][data['일시'].str.contains('0'+str(i))].mean().round(1))
    
for i in range(10,13):
    humidity_mean.append(data['평균상대습도(%)'][data['일시'].str.contains(str(i))].mean())
    rain_sum.append(data['월합강수량(00~24h만)(mm)'][data['일시'].str.contains(str(i))].mean())
    wind_max.append(data['최대순간풍속(m/s)'][data['일시'].str.contains(str(i))].mean())
    print('<',i,'월 습도_강수량_풍속 정보 >')
    print(data[['평균상대습도(%)', '월합강수량(00~24h만)(mm)','최대순간풍속(m/s)']][data['일시'].str.contains(str(i))].mean().round(1))
    
print(humidity_mean)
print(rain_sum)
print(wind_max)

In [110]:
area = ['강원','경기','인천','서울','경북','충북','충남', '대전', '전북', '대구', '울산', '경남', '광주', '부산', '전남', '제주', '세종']

In [87]:
area = ['강원','경기','인천','서울','경북','충북','충남', '대전', '전북', '대구', '울산', '경남', '광주', '부산', '전남', '제주', '세종']

for i in area:
    print(i, '\n')
    for j in range(1,10):
        print('0'+str(j)+'월')
        print(data[(data['지점명']==i)&(data['일시'].str.contains('-0'+str(j)))].mean().round(1), '\n')
    for k in range(10,13):
        print(str(k)+'월')
        print(data[(data['지점명']==i)&(data['일시'].str.contains('-'+str(k)))].mean().round(1), '\n')

강원

01월
지점                    136.5
평균상대습도(%)              56.9
월합강수량(00~24h만)(mm)     23.8
평균풍속(m/s)               1.9
최대순간풍속(m/s)            14.5
최대풍속 풍향(16방위)         237.2
dtype: float64

02월
지점                    136.5
평균상대습도(%)              57.7
월합강수량(00~24h만)(mm)     38.4
평균풍속(m/s)               1.9
최대순간풍속(m/s)            14.1
최대풍속 풍향(16방위)         228.9
dtype: float64

03월
지점                    136.5
평균상대습도(%)              55.9
월합강수량(00~24h만)(mm)     38.8
평균풍속(m/s)               2.1
최대순간풍속(m/s)            16.1
최대풍속 풍향(16방위)         233.4
dtype: float64

04월
지점                    136.5
평균상대습도(%)              57.0
월합강수량(00~24h만)(mm)     85.3
평균풍속(m/s)               2.2
최대순간풍속(m/s)            17.0
최대풍속 풍향(16방위)         235.0
dtype: float64

05월
지점                    136.5
평균상대습도(%)              60.7
월합강수량(00~24h만)(mm)     70.5
평균풍속(m/s)               2.0
최대순간풍속(m/s)            16.7
최대풍속 풍향(16방위)         235.1
dtype: float64

06월
지점                    136.5
평균상대습도(%)              70.4
월합강수량(00~24h만)(mm)    112.5
평균풍속(m/s)               1.7
최대순간풍속(m/s)            12.5
최대풍속 풍향(16방위)         205.2
dtype: float64

07월
지점                    136.5
평균상대습도(%)              79.2
월합강수량(00~24h만)(mm)    317.2
평균풍속(m/s)               1.7
최대순간풍속(m/s)            13.4
최대풍속 풍향(16방위)         186.4
dtype: float64

08월
지점                    136.5
평균상대습도(%)              79.8
월합강수량(00~24h만)(mm)    260.6
평균풍속(m/s)               1.6
최대순간풍속(m/s)            14.3
최대풍속 풍향(16방위)         191.8
dtype: float64

09월
지점                    136.5
평균상대습도(%)              77.9
월합강수량(00~24h만)(mm)    143.3
평균풍속(m/s)               1.5
최대순간풍속(m/s)            13.7
최대풍속 풍향(16방위)         182.8
dtype: float64

10월
지점                    136.2
평균상대습도(%)              71.6
월합강수량(00~24h만)(mm)     79.3
평균풍속(m/s)               1.6
최대순간풍속(m/s)            14.0
최대풍속 풍향(16방위)         198.5
dtype: float64

11월
지점                    136.2
평균상대습도(%)              65.9
월합강수량(00~24h만)(mm)     64.6
평균풍속(m/s)               1.7
최대순간풍속(m/s)            15.4
최대풍속 풍향(16방위)         221.0
dtype: float64

12월
지점                    136.2
평균상대습도(%)              59.6
월합강수량(00~24h만)(mm)     25.6
평균풍속(m/s)               1.8
최대순간풍속(m/s)            14.9
최대풍속 풍향(16방위)         249.9
dtype: float64

경기

01월
지점                    144.2
평균상대습도(%)              61.9
월합강수량(00~24h만)(mm)     16.3
평균풍속(m/s)               1.4
최대순간풍속(m/s)            12.4
최대풍속 풍향(16방위)         282.6
dtype: float64

02월
지점                    144.2
평균상대습도(%)              59.9
월합강수량(00~24h만)(mm)     32.3
평균풍속(m/s)               1.6
최대순간풍속(m/s)            12.1
최대풍속 풍향(16방위)         261.2
dtype: float64

03월
지점                    144.2
평균상대습도(%)              57.4
월합강수량(00~24h만)(mm)     29.6
평균풍속(m/s)               1.9
최대순간풍속(m/s)            14.3
최대풍속 풍향(16방위)         263.2
dtype: float64

04월
지점                    144.2
평균상대습도(%)              58.9
월합강수량(00~24h만)(mm)     79.9
평균풍속(m/s)               1.9
최대순간풍속(m/s)            14.9
최대풍속 풍향(16방위)         218.2
dtype: float64

05월
지점                    144.2
평균상대습도(%)              63.1
월합강수량(00~24h만)(mm)     87.2
평균풍속(m/s)               1.7
최대순간풍속(m/s)            14.2
최대풍속 풍향(16방위)         236.0
dtype: float64

06월
지점                    144.2
평균상대습도(%)              68.4
월합강수량(00~24h만)(mm)    107.7
평균풍속(m/s)               1.6
최대순간풍속(m/s)            12.0
최대풍속 풍향(16방위)         206.8
dtype: float64

07월
지점                    144.2
평균상대습도(%)              79.8
월합강수량(00~24h만)(mm)    405.4
평균풍속(m/s)               1.5
최대순간풍속(m/s)            12.5
최대풍속 풍향(16방위)         195.6
dtype: float64

08월
지점                    144.2
평균상대습도(%)              79.1
월합강수량(00~24h만)(mm)    259.8
평균풍속(m/s)               1.5
최대순간풍속(m/s)            13.8
최대풍속 풍향(16방위)         183.4
dtype: float64

09월
지점                    144.2
평균상대습도(%)              74.9
월합강수량(00~24h만)(mm)    104.3
평균풍속(m/s)               1.3
최대순간풍속(m/s)            12.8
최대풍속 풍향(16방위)         189.4
dtype: float64

10월
지점                    144.2
평균상대습도(%)              72.0
월합강수량(00~24h만)(mm)     60.8
평균풍속(m/s)               1.2
최대순간풍속(m/s)            12.0
최대풍속 풍향(16방위)         228.2
dtype: float64

11월
지점                    144.2
평균상대습도(%)              69.5
월합강수량(00~24h만)(mm)     60.2
평균풍속(m/s)               1.4
최대순간풍속(m/s)            13.1
최대풍속 풍향(16방위)         268.8
dtype: float64

12월
지점                    144.2
평균상대습도(%)              65.3
월합강수량(00~24h만)(mm)     26.9
평균풍속(m/s)               1.4
최대순간풍속(m/s)            12.4
최대풍속 풍향(16방위)         293.6
dtype: float64

인천

01월
지점                    138.3
평균상대습도(%)              61.5
월합강수량(00~24h만)(mm)     13.7
평균풍속(m/s)               3.1
최대순간풍속(m/s)            17.3
최대풍속 풍향(16방위)         294.0
dtype: float64

02월
지점                    138.3
평균상대습도(%)              61.6
월합강수량(00~24h만)(mm)     25.8
평균풍속(m/s)               3.2
최대순간풍속(m/s)            15.7
최대풍속 풍향(16방위)         266.0
dtype: float64

03월
지점                    138.3
평균상대습도(%)              63.9
월합강수량(00~24h만)(mm)     19.5
평균풍속(m/s)               3.6
최대순간풍속(m/s)            17.8
최대풍속 풍향(16방위)         275.7
dtype: float64

04월

C:\Users\User\AppData\Local\Temp/ipykernel_3112/2473498339.py:7: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(data[(data['지점명']==i)&(data['일시'].str.contains('-0'+str(j)))].mean().round(1), '\n')
C:\Users\User\AppData\Local\Temp/ipykernel_3112/2473498339.py:10: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(data[(data['지점명']==i)&(data['일시'].str.contains('-'+str(k)))].mean().round(1), '\n')

지점                    138.3
평균상대습도(%)              65.2
월합강수량(00~24h만)(mm)     57.5
평균풍속(m/s)               3.7
최대순간풍속(m/s)            18.8
최대풍속 풍향(16방위)         239.7
dtype: float64

05월
지점                    138.3
평균상대습도(%)              69.9
월합강수량(00~24h만)(mm)     80.0
평균풍속(m/s)               3.4
최대순간풍속(m/s)            18.6
최대풍속 풍향(16방위)         236.0
dtype: float64

06월
지점                    138.3
평균상대습도(%)              79.3
월합강수량(00~24h만)(mm)     86.5
평균풍속(m/s)               2.8
최대순간풍속(m/s)            15.3
최대풍속 풍향(16방위)         195.7
dtype: float64

07월
지점                    138.3
평균상대습도(%)              87.3
월합강수량(00~24h만)(mm)    301.6
평균풍속(m/s)               2.9
최대순간풍속(m/s)            17.1
최대풍속 풍향(16방위)         193.0
dtype: float64

08월
지점                    138.3
평균상대습도(%)              83.5
월합강수량(00~24h만)(mm)    187.7
평균풍속(m/s)               2.7
최대순간풍속(m/s)            19.2
최대풍속 풍향(16방위)         188.3
dtype: float64

09월
지점                    138.3
평균상대습도(%)              75.1
월합강수량(00~24h만)(mm)     91.7
평균풍속(m/s)               2.6
최대순간풍속(m/s)            15.6
최대풍속 풍향(16방위)         246.0
dtype: float64

10월
지점                    138.3
평균상대습도(%)              68.2
월합강수량(00~24h만)(mm)     49.8
평균풍속(m/s)               2.8
최대순간풍속(m/s)            16.3
최대풍속 풍향(16방위)         261.0
dtype: float64

11월
지점                    138.3
평균상대습도(%)              67.1
월합강수량(00~24h만)(mm)     59.1
평균풍속(m/s)               3.2
최대순간풍속(m/s)            18.9
최대풍속 풍향(16방위)         259.0
dtype: float64

12월
지점                    138.3
평균상대습도(%)              63.7
월합강수량(00~24h만)(mm)     26.0
평균풍속(m/s)               3.3
최대순간풍속(m/s)            18.2
최대풍속 풍향(16방위)         291.0
dtype: float64

서울

01월
지점                    108.0
평균상대습도(%)              52.4
월합강수량(00~24h만)(mm)     14.7
평균풍속(m/s)               2.4
최대순간풍속(m/s)            13.4
최대풍속 풍향(16방위)         274.0
dtype: float64

02월
지점                    108.0
평균상대습도(%)              51.9
월합강수량(00~24h만)(mm)     30.8
평균풍속(m/s)               2.6
최대순간풍속(m/s)            13.5
최대풍속 풍향(16방위)         247.0
dtype: float64

03월
지점                    108.0
평균상대습도(%)              51.2
월합강수량(00~24h만)(mm)     24.7
평균풍속(m/s)               2.7
최대순간풍속(m/s)            15.5
최대풍속 풍향(16방위)         272.0
dtype: float64

04월
지점                    108.0
평균상대습도(%)              54.0
월합강수량(00~24h만)(mm)     78.3
평균풍속(m/s)               2.8
최대순간풍속(m/s)            16.7
최대풍속 풍향(16방위)         256.0
dtype: float64

05월
지점                    108.0
평균상대습도(%)              56.0
월합강수량(00~24h만)(mm)     83.4
평균풍속(m/s)               2.6
최대순간풍속(m/s)            15.3
최대풍속 풍향(16방위)         227.0
dtype: float64

06월
지점                    108.0
평균상대습도(%)              62.6
월합강수량(00~24h만)(mm)    122.8
평균풍속(m/s)               2.3
최대순간풍속(m/s)            13.5
최대풍속 풍향(16방위)         189.0
dtype: float64

07월
지점                    108.0
평균상대습도(%)              74.1
월합강수량(00~24h만)(mm)    432.0
평균풍속(m/s)               2.4
최대순간풍속(m/s)            14.3
최대풍속 풍향(16방위)         191.0
dtype: float64

08월
지점                    108.0
평균상대습도(%)              71.2
월합강수량(00~24h만)(mm)    245.9
평균풍속(m/s)               2.3
최대순간풍속(m/s)            16.0
최대풍속 풍향(16방위)         179.0
dtype: float64

09월
지점                    108.0
평균상대습도(%)              63.4
월합강수량(00~24h만)(mm)     94.8
평균풍속(m/s)               2.2
최대순간풍속(m/s)            16.0
최대풍속 풍향(16방위)         155.0
dtype: float64

10월
지점                    108.0
평균상대습도(%)              59.6
월합강수량(00~24h만)(mm)     55.6
평균풍속(m/s)               2.1
최대순간풍속(m/s)            14.2
최대풍속 풍향(16방위)         229.0
dtype: float64

11월
지점                    108.0
평균상대습도(%)              60.0
월합강수량(00~24h만)(mm)     65.2
평균풍속(m/s)               2.3
최대순간풍속(m/s)            14.7
최대풍속 풍향(16방위)         252.0
dtype: float64

12월
지점                    108.0
평균상대습도(%)              56.1
월합강수량(00~24h만)(mm)     26.0
평균풍속(m/s)               2.3
최대순간풍속(m/s)            14.2
최대풍속 풍향(16방위)         268.0
dtype: float64

경북

01월
지점                    224.7
평균상대습도(%)              54.8
월합강수량(00~24h만)(mm)     31.0
평균풍속(m/s)               2.5
최대순간풍속(m/s)            16.0
최대풍속 풍향(16방위)         270.5
dtype: float64

02월
지점                    224.7
평균상대습도(%)              55.4
월합강수량(00~24h만)(mm)     38.9
평균풍속(m/s)               2.4
최대순간풍속(m/s)            15.0
최대풍속 풍향(16방위)         272.4
dtype: float64

03월
지점                    224.7
평균상대습도(%)              55.5
월합강수량(00~24h만)(mm)     52.9
평균풍속(m/s)               2.5
최대순간풍속(m/s)            16.1
최대풍속 풍향(16방위)         255.4
dtype: float64

04월
지점                    224.7
평균상대습도(%)              57.6
월합강수량(00~24h만)(mm)     95.5
평균풍속(m/s)               2.5
최대순간풍속(m/s)            16.6
최대풍속 풍향(16방위)         254.1
dtype: float64

05월
지점                    224.7
평균상대습도(%)              61.2
월합강수량(00~24h만)(mm)     65.8
평균풍속(m/s)               2.2
최대순간풍속(m/s)            15.6
최대풍속 풍향(16방위)         262.8
dtype: float64

06월
지점                    224.7
평균상대습도(%)              70.7
월합강수량(00~24h만)(mm)    107.4
평균풍속(m/s)               1.9
최대순간풍속(m/s)            12.0
최대풍속 풍향(16방위)         192.6
dtype: float64

07월
지점                    224.7
평균상대습도(%)              79.2
월합강수량(00~24h만)(mm)    215.1
평균풍속(m/s)               1.8
최대순간풍속(m/s)            12.9
최대풍속 풍향(16방위)         182.8
dtype: float64

08월
지점                    224.7
평균상대습도(%)              79.2
월합강수량(00~24h만)(mm)    203.9
평균풍속(m/s)               1.7
최대순간풍속(m/s)            13.9
최대풍속 풍향(16방위)         184.7
dtype: float64

09월
지점                    224.7
평균상대습도(%)              78.6
월합강수량(00~24h만)(mm)    146.4
평균풍속(m/s)               1.7
최대순간풍속(m/s)            14.2
최대풍속 풍향(16방위)         171.3
dtype: float64

10월
지점                    224.7
평균상대습도(%)              72.5
월합강수량(00~24h만)(mm)    103.2
평균풍속(m/s)               1.8
최대순간풍속(m/s)            14.7
최대풍속 풍향(16방위)         214.6
dtype: float64

11월
지점                    224.7
평균상대습도(%)              66.4
월합강수량(00~24h만)(mm)     53.0
평균풍속(m/s)               2.0
최대순간풍속(m/s)            15.1
최대풍속 풍향(16방위)         258.6
dtype: float64

12월
지점                    224.7
평균상대습도(%)              58.1
월합강수량(00~24h만)(mm)     32.1
평균풍속(m/s)               2.4
최대순간풍속(m/s)            15.8
최대풍속 풍향(16방위)         275.4
dtype: float64

충북

01월
지점                    168.0
평균상대습도(%)              62.8
월합강수량(00~24h만)(mm)     20.1
평균풍속(m/s)               1.8
최대순간풍속(m/s)            13.4
최대풍속 풍향(16방위)         273.0
dtype: float64

02월
지점                    168.0
평균상대습도(%)              58.8
월합강수량(00~24h만)(mm)     34.7
평균풍속(m/s)               1.9
최대순간풍속(m/s)            13.0
최대풍속 풍향(16방위)         250.4
dtype: float64

03월
지점                    168.0
평균상대습도(%)              55.2
월합강수량(00~24h만)(mm)     44.3
평균풍속(m/s)               2.0
최대순간풍속(m/s)            14.9
최대풍속 풍향(16방위)         253.0
dtype: float64

04월
지점                    168.0
평균상대습도(%)              55.8
월합강수량(00~24h만)(mm)     88.9
평균풍속(m/s)               2.1
최대순간풍속(m/s)            15.5
최대풍속 풍향(16방위)         238.6
dtype: float64

05월
지점                    168.0
평균상대습도(%)              59.0
월합강수량(00~24h만)(mm)     69.8
평균풍속(m/s)               1.9
최대순간풍속(m/s)            14.6
최대풍속 풍향(16방위)         245.2
dtype: float64

06월
지점                    168.0
평균상대습도(%)              65.8
월합강수량(00~24h만)(mm)    118.4
평균풍속(m/s)               1.7
최대순간풍속(m/s)            11.5
최대풍속 풍향(16방위)         173.2
dtype: float64

07월
지점                    168.0
평균상대습도(%)              77.5
월합강수량(00~24h만)(mm)    305.1
평균풍속(m/s)               1.5
최대순간풍속(m/s)            13.1
최대풍속 풍향(16방위)         175.4
dtype: float64

08월
지점                    168.0
평균상대습도(%)              76.4
월합강수량(00~24h만)(mm)    259.1
평균풍속(m/s)               1.5
최대순간풍속(m/s)            13.8
최대풍속 풍향(16방위)         161.6
dtype: float64

09월
지점                    168.0
평균상대습도(%)              75.4
월합강수량(00~24h만)(mm)    129.1
평균풍속(m/s)               1.4
최대순간풍속(m/s)            12.7
최대풍속 풍향(16방위)         166.6
dtype: float64

10월
지점                    168.0
평균상대습도(%)              72.5
월합강수량(00~24h만)(mm)     73.7
평균풍속(m/s)               1.4
최대순간풍속(m/s)            13.2
최대풍속 풍향(16방위)         202.8
dtype: float64

11월
지점                    168.0
평균상대습도(%)              69.6
월합강수량(00~24h만)(mm)     55.2
평균풍속(m/s)               1.6
최대순간풍속(m/s)            13.4
최대풍속 풍향(16방위)         249.6
dtype: float64

12월
지점                    168.0
평균상대습도(%)              66.2
월합강수량(00~24h만)(mm)     29.7
평균풍속(m/s)               1.7
최대순간풍속(m/s)            13.1
최대풍속 풍향(16방위)         275.6
dtype: float64

충남

01월
지점                    210.6
평균상대습도(%)              69.5
월합강수량(00~24h만)(mm)     20.6
평균풍속(m/s)               1.5
최대순간풍속(m/s)            12.7
최대풍속 풍향(16방위)         276.2
dtype: float64

02월
지점                    210.6
평균상대습도(%)              65.1
월합강수량(00~24h만)(mm)     38.0
평균풍속(m/s)               1.6
최대순간풍속(m/s)            12.3
최대풍속 풍향(16방위)         258.4
dtype: float64

03월
지점                    210.6
평균상대습도(%)              64.4
월합강수량(00~24h만)(mm)     39.4
평균풍속(m/s)               1.9
최대순간풍속(m/s)            14.0
최대풍속 풍향(16방위)         247.3
dtype: float64

04월
지점                    210.6
평균상대습도(%)              65.1
월합강수량(00~24h만)(mm)     84.9
평균풍속(m/s)               2.0
최대순간풍속(m/s)            15.9
최대풍속 풍향(16방위)         224.4
dtype: float64

05월
지점                    210.6
평균상대습도(%)              68.0
월합강수량(00~24h만)(mm)     72.5
평균풍속(m/s)               1.8
최대순간풍속(m/s)            13.8
최대풍속 풍향(16방위)         227.6
dtype: float64

06월
지점                    210.6
평균상대습도(%)              74.8
월합강수량(00~24h만)(mm)    111.2
평균풍속(m/s)               1.6
최대순간풍속(m/s)            11.5
최대풍속 풍향(16방위)         196.4
dtype: float64

07월
지점                    210.6
평균상대습도(%)              83.6
월합강수량(00~24h만)(mm)    296.8
평균풍속(m/s)               1.7
최대순간풍속(m/s)            13.4
최대풍속 풍향(16방위)         188.0
dtype: float64

08월
지점                    210.6
평균상대습도(%)              81.5
월합강수량(00~24h만)(mm)    242.2
평균풍속(m/s)               1.6
최대순간풍속(m/s)            14.5
최대풍속 풍향(16방위)         173.8
dtype: float64

09월
지점                    210.6
평균상대습도(%)              78.5
월합강수량(00~24h만)(mm)    125.8
평균풍속(m/s)               1.4
최대순간풍속(m/s)            12.9
최대풍속 풍향(16방위)         200.2
dtype: float64

10월
지점                    210.6
평균상대습도(%)              75.5
월합강수량(00~24h만)(mm)     72.2
평균풍속(m/s)               1.3
최대순간풍속(m/s)            12.3
최대풍속 풍향(16방위)         216.5
dtype: float64

11월
지점                    210.0
평균상대습도(%)              74.4
월합강수량(00~24h만)(mm)     64.1
평균풍속(m/s)               1.4
최대순간풍속(m/s)            12.9
최대풍속 풍향(16방위)         240.9
dtype: float64

12월
지점                    210.0
평균상대습도(%)              71.8
월합강수량(00~24h만)(mm)     36.0
평균풍속(m/s)               1.5
최대순간풍속(m/s)            13.2
최대풍속 풍향(16방위)         267.0
dtype: float64

대전

01월
지점                    133.0
평균상대습도(%)              66.4
월합강수량(00~24h만)(mm)     23.5
평균풍속(m/s)               1.4
최대순간풍속(m/s)            12.7
최대풍속 풍향(16방위)         257.0
dtype: float64

02월
지점                    133.0
평균상대습도(%)              60.9
월합강수량(00~24h만)(mm)     40.3
평균풍속(m/s)               1.5
최대순간풍속(m/s)            12.2
최대풍속 풍향(16방위)         253.0
dtype: float64

03월
지점                    133.0
평균상대습도(%)              57.7
월합강수량(00~24h만)(mm)     45.7
평균풍속(m/s)               1.8
최대순간풍속(m/s)            14.0
최대풍속 풍향(16방위)         236.0
dtype: float64

04월

지점                    133.0
평균상대습도(%)              59.4
월합강수량(00~24h만)(mm)     87.6
평균풍속(m/s)               2.0
최대순간풍속(m/s)            14.8
최대풍속 풍향(16방위)         160.0
dtype: float64

05월
지점                    133.0
평균상대습도(%)              62.3
월합강수량(00~24h만)(mm)     70.1
평균풍속(m/s)               1.8
최대순간풍속(m/s)            13.6
최대풍속 풍향(16방위)         124.0
dtype: float64

06월
지점                    133.0
평균상대습도(%)              70.5
월합강수량(00~24h만)(mm)    136.0
평균풍속(m/s)               1.6
최대순간풍속(m/s)            12.2
최대풍속 풍향(16방위)         146.0
dtype: float64

07월
지점                    133.0
평균상대습도(%)              82.2
월합강수량(00~24h만)(mm)    318.0
평균풍속(m/s)               1.6
최대순간풍속(m/s)            13.9
최대풍속 풍향(16방위)         146.0
dtype: float64

08월
지점                    133.0
평균상대습도(%)              79.6
월합강수량(00~24h만)(mm)    252.9
평균풍속(m/s)               1.6
최대순간풍속(m/s)            14.8
최대풍속 풍향(16방위)         140.0
dtype: float64

09월
지점                    133.0
평균상대습도(%)              77.2
월합강수량(00~24h만)(mm)    141.4
평균풍속(m/s)               1.4
최대순간풍속(m/s)            13.9
최대풍속 풍향(16방위)         153.0
dtype: float64

10월
지점                    133.0
평균상대습도(%)              74.5
월합강수량(00~24h만)(mm)     79.6
평균풍속(m/s)               1.3
최대순간풍속(m/s)            11.9
최대풍속 풍향(16방위)         181.0
dtype: float64

11월
지점                    133.0
평균상대습도(%)              72.8
월합강수량(00~24h만)(mm)     62.2
평균풍속(m/s)               1.3
최대순간풍속(m/s)            12.6
최대풍속 풍향(16방위)         191.0
dtype: float64

12월
지점                    133.0
평균상대습도(%)              69.9
월합강수량(00~24h만)(mm)     33.8
평균풍속(m/s)               1.3
최대순간풍속(m/s)            13.0
최대풍속 풍향(16방위)         219.0
dtype: float64

전북

01월
지점                    220.3
평균상대습도(%)              69.8
월합강수량(00~24h만)(mm)     28.7
평균풍속(m/s)               2.3
최대순간풍속(m/s)            15.3
최대풍속 풍향(16방위)         278.6
dtype: float64

02월
지점                    220.3
평균상대습도(%)              65.6
월합강수량(00~24h만)(mm)     37.9
평균풍속(m/s)               2.4
최대순간풍속(m/s)            14.7
최대풍속 풍향(16방위)         258.0
dtype: float64

03월
지점                    220.3
평균상대습도(%)              64.5
월합강수량(00~24h만)(mm)     58.3
평균풍속(m/s)               2.5
최대순간풍속(m/s)            16.0
최대풍속 풍향(16방위)         257.8
dtype: float64

04월
지점                    220.3
평균상대습도(%)              65.9
월합강수량(00~24h만)(mm)     97.5
평균풍속(m/s)               2.5
최대순간풍속(m/s)            17.2
최대풍속 풍향(16방위)         232.1
dtype: float64

05월
지점                    220.3
평균상대습도(%)              67.9
월합강수량(00~24h만)(mm)     80.1
평균풍속(m/s)               2.1
최대순간풍속(m/s)            15.2
최대풍속 풍향(16방위)         222.9
dtype: float64

06월
지점                    220.3
평균상대습도(%)              75.4
월합강수량(00~24h만)(mm)    111.5
평균풍속(m/s)               1.9
최대순간풍속(m/s)            13.5
최대풍속 풍향(16방위)         196.5
dtype: float64

07월
지점                    220.3
평균상대습도(%)              82.1
월합강수량(00~24h만)(mm)    284.9
평균풍속(m/s)               2.0
최대순간풍속(m/s)            14.3
최대풍속 풍향(16방위)         187.8
dtype: float64

08월
지점                    220.3
평균상대습도(%)              80.4
월합강수량(00~24h만)(mm)    291.7
평균풍속(m/s)               2.0
최대순간풍속(m/s)            16.8
최대풍속 풍향(16방위)         193.9
dtype: float64

09월
지점                    220.3
평균상대습도(%)              78.5
월합강수량(00~24h만)(mm)    138.4
평균풍속(m/s)               1.8
최대순간풍속(m/s)            14.7
최대풍속 풍향(16방위)         234.5
dtype: float64

10월
지점                    220.3
평균상대습도(%)              74.5
월합강수량(00~24h만)(mm)     81.9
평균풍속(m/s)               1.9
최대순간풍속(m/s)            14.9
최대풍속 풍향(16방위)         245.6
dtype: float64

11월
지점                    220.3
평균상대습도(%)              73.0
월합강수량(00~24h만)(mm)     64.0
평균풍속(m/s)               2.1
최대순간풍속(m/s)            15.2
최대풍속 풍향(16방위)         235.2
dtype: float64

12월
지점                    220.3
평균상대습도(%)              71.3
월합강수량(00~24h만)(mm)     41.3
평균풍속(m/s)               2.3
최대순간풍속(m/s)            15.7
최대풍속 풍향(16방위)         269.2
dtype: float64

대구

01월
지점                    148.5
평균상대습도(%)              50.7
월합강수량(00~24h만)(mm)     17.0
평균풍속(m/s)               2.2
최대순간풍속(m/s)            14.5
최대풍속 풍향(16방위)         285.8
dtype: float64

02월
지점                    148.5
평균상대습도(%)              50.8
월합강수량(00~24h만)(mm)     22.7
평균풍속(m/s)               2.3
최대순간풍속(m/s)            13.4
최대풍속 풍향(16방위)         266.7
dtype: float64

03월
지점                    148.5
평균상대습도(%)              50.5
월합강수량(00~24h만)(mm)     59.6
평균풍속(m/s)               2.3
최대순간풍속(m/s)            15.1
최대풍속 풍향(16방위)         240.0
dtype: float64

04월
지점                    148.5
평균상대습도(%)              53.7
월합강수량(00~24h만)(mm)     85.8
평균풍속(m/s)               2.4
최대순간풍속(m/s)            15.0
최대풍속 풍향(16방위)         171.7
dtype: float64

05월
지점                    148.5
평균상대습도(%)              53.8
월합강수량(00~24h만)(mm)     54.6
평균풍속(m/s)               2.2
최대순간풍속(m/s)            14.8
최대풍속 풍향(16방위)         235.8
dtype: float64

06월
지점                    148.5
평균상대습도(%)              64.1
월합강수량(00~24h만)(mm)     85.3
평균풍속(m/s)               2.3
최대순간풍속(m/s)            11.2
최대풍속 풍향(16방위)         135.8
dtype: float64

07월
지점                    146.0
평균상대습도(%)              71.9
월합강수량(00~24h만)(mm)    214.2
평균풍속(m/s)               2.0
최대순간풍속(m/s)            14.2
최대풍속 풍향(16방위)         162.7
dtype: float64

08월
지점                    146.0
평균상대습도(%)              73.3
월합강수량(00~24h만)(mm)    265.2
평균풍속(m/s)               2.1
최대순간풍속(m/s)            13.6
최대풍속 풍향(16방위)         190.9
dtype: float64

09월
지점                    146.0
평균상대습도(%)              71.8
월합강수량(00~24h만)(mm)    138.4
평균풍속(m/s)               1.8
최대순간풍속(m/s)            12.5
최대풍속 풍향(16방위)         139.1
dtype: float64

10월
지점                    148.5
평균상대습도(%)              66.6
월합강수량(00~24h만)(mm)     88.2
평균풍속(m/s)               1.7
최대순간풍속(m/s)            12.6
최대풍속 풍향(16방위)         253.3
dtype: float64

11월
지점                    148.5
평균상대습도(%)              61.8
월합강수량(00~24h만)(mm)     33.8
평균풍속(m/s)               1.9
최대순간풍속(m/s)            13.8
최대풍속 풍향(16방위)         281.7
dtype: float64

12월
지점                    148.5
평균상대습도(%)              53.8
월합강수량(00~24h만)(mm)     18.8
평균풍속(m/s)               2.3
최대순간풍속(m/s)            15.2
최대풍속 풍향(16방위)         285.8
dtype: float64

울산

01월
지점                    152.0
평균상대습도(%)              48.6
월합강수량(00~24h만)(mm)     43.3
평균풍속(m/s)               2.4
최대순간풍속(m/s)            15.0
최대풍속 풍향(16방위)         247.0
dtype: float64

02월
지점                    152.0
평균상대습도(%)              53.3
월합강수량(00~24h만)(mm)     42.7
평균풍속(m/s)               2.3
최대순간풍속(m/s)            14.2
최대풍속 풍향(16방위)         280.0
dtype: float64

03월
지점                    152.0
평균상대습도(%)              56.8
월합강수량(00~24h만)(mm)     73.1
평균풍속(m/s)               2.4
최대순간풍속(m/s)            15.0
최대풍속 풍향(16방위)         219.0
dtype: float64

04월
지점                    152.0
평균상대습도(%)              60.8
월합강수량(00~24h만)(mm)    111.1
평균풍속(m/s)               2.4
최대순간풍속(m/s)            16.8
최대풍속 풍향(16방위)         204.0
dtype: float64

05월
지점                    152.0
평균상대습도(%)              63.8
월합강수량(00~24h만)(mm)     74.6
평균풍속(m/s)               2.1
최대순간풍속(m/s)            14.3
최대풍속 풍향(16방위)         234.0
dtype: float64

06월
지점                    152.0
평균상대습도(%)              76.3
월합강수량(00~24h만)(mm)    130.3
평균풍속(m/s)               1.9
최대순간풍속(m/s)            11.3
최대풍속 풍향(16방위)         129.0
dtype: float64

07월
지점                    152.0
평균상대습도(%)              80.6
월합강수량(00~24h만)(mm)    210.6
평균풍속(m/s)               2.1
최대순간풍속(m/s)            14.7
최대풍속 풍향(16방위)         189.0
dtype: float64

08월
지점                    152.0
평균상대습도(%)              79.8
월합강수량(00~24h만)(mm)    181.7
평균풍속(m/s)               2.2
최대순간풍속(m/s)            15.1
최대풍속 풍향(16방위)         172.0
dtype: float64

09월
지점                    152.0
평균상대습도(%)              78.4
월합강수량(00~24h만)(mm)    204.2
평균풍속(m/s)               2.1
최대순간풍속(m/s)            15.7
최대풍속 풍향(16방위)         144.0
dtype: float64

10월
지점                    152.0
평균상대습도(%)              69.6
월합강수량(00~24h만)(mm)    122.6
평균풍속(m/s)               2.1
최대순간풍속(m/s)            16.3
최대풍속 풍향(16방위)         176.0
dtype: float64

11월
지점                    152.0
평균상대습도(%)              62.6
월합강수량(00~24h만)(mm)     51.6
평균풍속(m/s)               1.9
최대순간풍속(m/s)            12.8
최대풍속 풍향(16방위)         288.0
dtype: float64

12월
지점                    152.0
평균상대습도(%)              51.5
월합강수량(00~24h만)(mm)     32.4
평균풍속(m/s)               2.3
최대순간풍속(m/s)            14.0
최대풍속 풍향(16방위)         262.0
dtype: float64

경남

01월
지점                    252.6
평균상대습도(%)              54.4
월합강수량(00~24h만)(mm)     27.2
평균풍속(m/s)               1.8
최대순간풍속(m/s)            13.7
최대풍속 풍향(16방위)         271.0
dtype: float64

02월
지점                    252.6
평균상대습도(%)              54.4
월합강수량(00~24h만)(mm)     44.9
평균풍속(m/s)               1.8
최대순간풍속(m/s)            13.4
최대풍속 풍향(16방위)         259.4
dtype: float64

03월
지점                    252.6
평균상대습도(%)              57.5
월합강수량(00~24h만)(mm)     82.3
평균풍속(m/s)               1.9
최대순간풍속(m/s)            14.9
최대풍속 풍향(16방위)         257.7
dtype: float64

04월
지점                    252.6
평균상대습도(%)              60.7
월합강수량(00~24h만)(mm)    138.7
평균풍속(m/s)               1.9
최대순간풍속(m/s)            15.4
최대풍속 풍향(16방위)         232.9
dtype: float64

05월
지점                    252.6
평균상대습도(%)              64.3
월합강수량(00~24h만)(mm)    106.5
평균풍속(m/s)               1.7
최대순간풍속(m/s)            13.8
최대풍속 풍향(16방위)         215.1
dtype: float64

06월
지점                    252.6
평균상대습도(%)              73.4
월합강수량(00~24h만)(mm)    147.6
평균풍속(m/s)               1.5
최대순간풍속(m/s)            11.3
최대풍속 풍향(16방위)         179.7
dtype: float64

07월
지점                    252.6
평균상대습도(%)              81.0
월합강수량(00~24h만)(mm)    282.1
평균풍속(m/s)               1.6
최대순간풍속(m/s)            13.5
최대풍속 풍향(16방위)         185.1
dtype: float64

08월
지점                    252.6
평균상대습도(%)              79.2
월합강수량(00~24h만)(mm)    260.2
평균풍속(m/s)               1.5
최대순간풍속(m/s)            14.2
최대풍속 풍향(16방위)         178.9
dtype: float64

09월
지점                    252.6
평균상대습도(%)              77.8
월합강수량(00~24h만)(mm)    212.4
평균풍속(m/s)               1.4
최대순간풍속(m/s)            13.5
최대풍속 풍향(16방위)         188.1
dtype: float64

10월
지점                    252.6
평균상대습도(%)              71.6
월합강수량(00~24h만)(mm)    118.2
평균풍속(m/s)               1.4
최대순간풍속(m/s)            14.1
최대풍속 풍향(16방위)         229.4
dtype: float64

11월
지점                    252.6
평균상대습도(%)              67.1
월합강수량(00~24h만)(mm)     58.4
평균풍속(m/s)               1.4
최대순간풍속(m/s)            13.3
최대풍속 풍향(16방위)         249.4
dtype: float64

12월
지점                    252.6
평균상대습도(%)              58.4
월합강수량(00~24h만)(mm)     33.9
평균풍속(m/s)               1.7
최대순간풍속(m/s)            13.9
최대풍속 풍향(16방위)         263.0
dtype: float64

광주

01월
지점                    156.0
평균상대습도(%)              64.5
월합강수량(00~24h만)(mm)     29.5
평균풍속(m/s)               1.7
최대순간풍속(m/s)            13.1
최대풍속 풍향(16방위)         100.0
dtype: float64

02월
지점                    156.0
평균상대습도(%)              60.4
월합강수량(00~24h만)(mm)     35.3
평균풍속(m/s)               1.8
최대순간풍속(m/s)            13.2
최대풍속 풍향(16방위)         145.0
dtype: float64

03월
지점                    156.0
평균상대습도(%)              59.8
월합강수량(00~24h만)(mm)     62.0
평균풍속(m/s)               1.9
최대순간풍속(m/s)            14.3
최대풍속 풍향(16방위)         185.0
dtype: float64

04월
지점                    156.0
평균상대습도(%)              61.1
월합강수량(00~24h만)(mm)     96.1
평균풍속(m/s)               2.0
최대순간풍속(m/s)            17.9
최대풍속 풍향(16방위)         226.0
dtype: float64

05월
지점                    156.0
평균상대습도(%)              63.5
월합강수량(00~24h만)(mm)     77.3
평균풍속(m/s)               1.9
최대순간풍속(m/s)            13.8
최대풍속 풍향(16방위)         171.0
dtype: float64

06월
지점                    156.0
평균상대습도(%)              73.1
월합강수량(00~24h만)(mm)    119.3
평균풍속(m/s)               1.8
최대순간풍속(m/s)            12.8
최대풍속 풍향(16방위)         160.0
dtype: float64

07월
지점                    156.0
평균상대습도(%)              81.8
월합강수량(00~24h만)(mm)    273.5
평균풍속(m/s)               2.1
최대순간풍속(m/s)            15.1
최대풍속 풍향(16방위)         174.0
dtype: float64

08월
지점                    156.0
평균상대습도(%)              79.6
월합강수량(00~24h만)(mm)    323.0
평균풍속(m/s)               2.0
최대순간풍속(m/s)            16.8
최대풍속 풍향(16방위)         154.0
dtype: float64

09월
지점                    156.0
평균상대습도(%)              76.0
월합강수량(00~24h만)(mm)    139.1
평균풍속(m/s)               1.6
최대순간풍속(m/s)            13.6
최대풍속 풍향(16방위)         115.0
dtype: float64

10월
지점                    156.0
평균상대습도(%)              69.6
월합강수량(00~24h만)(mm)     91.9
평균풍속(m/s)               1.5
최대순간풍속(m/s)            14.1
최대풍속 풍향(16방위)          61.0
dtype: float64

11월

지점                    156.0
평균상대습도(%)              68.8
월합강수량(00~24h만)(mm)     62.7
평균풍속(m/s)               1.4
최대순간풍속(m/s)            13.3
최대풍속 풍향(16방위)         136.0
dtype: float64

12월
지점                    156.0
평균상대습도(%)              66.5
월합강수량(00~24h만)(mm)     37.4
평균풍속(m/s)               1.7
최대순간풍속(m/s)            12.7
최대풍속 풍향(16방위)         134.0
dtype: float64

부산

01월
지점                    159.0
평균상대습도(%)              44.9
월합강수량(00~24h만)(mm)     35.5
평균풍속(m/s)               3.3
최대순간풍속(m/s)            18.5
최대풍속 풍향(16방위)         275.0
dtype: float64

02월
지점                    159.0
평균상대습도(%)              50.0
월합강수량(00~24h만)(mm)     51.1
평균풍속(m/s)               3.2
최대순간풍속(m/s)            19.1
최대풍속 풍향(16방위)         270.0
dtype: float64

03월
지점                    159.0
평균상대습도(%)              55.3
월합강수량(00~24h만)(mm)    102.2
평균풍속(m/s)               3.6
최대순간풍속(m/s)            19.8
최대풍속 풍향(16방위)         239.0
dtype: float64

04월
지점                    159.0
평균상대습도(%)              60.1
월합강수량(00~24h만)(mm)    149.4
평균풍속(m/s)               3.7
최대순간풍속(m/s)            20.8
최대풍속 풍향(16방위)         244.0
dtype: float64

05월
지점                    159.0
평균상대습도(%)              65.7
월합강수량(00~24h만)(mm)    121.2
평균풍속(m/s)               3.3
최대순간풍속(m/s)            18.4
최대풍속 풍향(16방위)         230.0
dtype: float64

06월
지점                    159.0
평균상대습도(%)              75.6
월합강수량(00~24h만)(mm)    170.1
평균풍속(m/s)               2.9
최대순간풍속(m/s)            17.0
최대풍속 풍향(16방위)         222.0
dtype: float64

07월
지점                    159.0
평균상대습도(%)              81.8
월합강수량(00~24h만)(mm)    303.6
평균풍속(m/s)               3.5
최대순간풍속(m/s)            20.4
최대풍속 풍향(16방위)         211.0
dtype: float64

08월
지점                    159.0
평균상대습도(%)              76.3
월합강수량(00~24h만)(mm)    214.8
평균풍속(m/s)               3.3
최대순간풍속(m/s)            20.0
최대풍속 풍향(16방위)         227.0
dtype: float64

09월
지점                    159.0
평균상대습도(%)              72.7
월합강수량(00~24h만)(mm)    230.4
평균풍속(m/s)               2.9
최대순간풍속(m/s)            19.4
최대풍속 풍향(16방위)         161.0
dtype: float64

10월
지점                    159.0
평균상대습도(%)              62.6
월합강수량(00~24h만)(mm)    121.5
평균풍속(m/s)               2.8
최대순간풍속(m/s)            22.5
최대풍속 풍향(16방위)         205.0
dtype: float64

11월
지점                    159.0
평균상대습도(%)              57.1
월합강수량(00~24h만)(mm)     65.3
평균풍속(m/s)               2.8
최대순간풍속(m/s)            19.1
최대풍속 풍향(16방위)         264.0
dtype: float64

12월
지점                    159.0
평균상대습도(%)              48.2
월합강수량(00~24h만)(mm)     48.9
평균풍속(m/s)               3.1
최대순간풍속(m/s)            19.8
최대풍속 풍향(16방위)         277.0
dtype: float64

전남

01월
지점                    218.0
평균상대습도(%)              67.1
월합강수량(00~24h만)(mm)     28.3
평균풍속(m/s)               3.2
최대순간풍속(m/s)            17.8
최대풍속 풍향(16방위)         293.2
dtype: float64

02월
지점                    218.0
평균상대습도(%)              65.4
월합강수량(00~24h만)(mm)     42.1
평균풍속(m/s)               3.2
최대순간풍속(m/s)            17.9
최대풍속 풍향(16방위)         286.8
dtype: float64

03월
지점                    218.4
평균상대습도(%)              65.9
월합강수량(00~24h만)(mm)     76.4
평균풍속(m/s)               3.1
최대순간풍속(m/s)            18.3
최대풍속 풍향(16방위)         291.2
dtype: float64

04월
지점                    218.1
평균상대습도(%)              68.4
월합강수량(00~24h만)(mm)    124.5
평균풍속(m/s)               3.1
최대순간풍속(m/s)            19.2
최대풍속 풍향(16방위)         238.2
dtype: float64

05월
지점                    218.4
평균상대습도(%)              71.3
월합강수량(00~24h만)(mm)    114.8
평균풍속(m/s)               2.7
최대순간풍속(m/s)            17.2
최대풍속 풍향(16방위)         219.3
dtype: float64

06월
지점                    218.4
평균상대습도(%)              80.4
월합강수량(00~24h만)(mm)    150.1
평균풍속(m/s)               2.3
최대순간풍속(m/s)            15.2
최대풍속 풍향(16방위)         181.7
dtype: float64

07월
지점                    218.4
평균상대습도(%)              86.1
월합강수량(00~24h만)(mm)    236.3
평균풍속(m/s)               2.5
최대순간풍속(m/s)            16.8
최대풍속 풍향(16방위)         176.1
dtype: float64

08월
지점                    218.1
평균상대습도(%)              83.0
월합강수량(00~24h만)(mm)    258.5
평균풍속(m/s)               2.5
최대순간풍속(m/s)            20.3
최대풍속 풍향(16방위)         169.1
dtype: float64

09월
지점                    218.4
평균상대습도(%)              80.2
월합강수량(00~24h만)(mm)    164.4
평균풍속(m/s)               2.2
최대순간풍속(m/s)            17.1
최대풍속 풍향(16방위)         215.3
dtype: float64

10월
지점                    218.4
평균상대습도(%)              73.4
월합강수량(00~24h만)(mm)     99.9
평균풍속(m/s)               2.5
최대순간풍속(m/s)            17.1
최대풍속 풍향(16방위)         243.4
dtype: float64

11월
지점                    218.4
평균상대습도(%)              72.0
월합강수량(00~24h만)(mm)     65.2
평균풍속(m/s)               2.7
최대순간풍속(m/s)            17.1
최대풍속 풍향(16방위)         255.7
dtype: float64

12월
지점                    218.4
평균상대습도(%)              68.8
월합강수량(00~24h만)(mm)     39.4
평균풍속(m/s)               3.1
최대순간풍속(m/s)            18.1
최대풍속 풍향(16방위)         294.5
dtype: float64

제주

01월
지점                    187.0
평균상대습도(%)              65.8
월합강수량(00~24h만)(mm)     57.2
평균풍속(m/s)               3.0
최대순간풍속(m/s)            17.2
최대풍속 풍향(16방위)         259.7
dtype: float64

02월
지점                    187.0
평균상대습도(%)              65.7
월합강수량(00~24h만)(mm)     86.2
평균풍속(m/s)               3.0
최대순간풍속(m/s)            17.9
최대풍속 풍향(16방위)         233.0
dtype: float64

03월
지점                    187.0
평균상대습도(%)              64.9
월합강수량(00~24h만)(mm)    114.5
평균풍속(m/s)               2.9
최대순간풍속(m/s)            18.0
최대풍속 풍향(16방위)         227.7
dtype: float64

04월
지점                    187.0
평균상대습도(%)              68.1
월합강수량(00~24h만)(mm)    164.1
평균풍속(m/s)               2.9
최대순간풍속(m/s)            18.8
최대풍속 풍향(16방위)         202.0
dtype: float64

05월
지점                    187.0
평균상대습도(%)              72.3
월합강수량(00~24h만)(mm)    163.3
평균풍속(m/s)               2.5
최대순간풍속(m/s)            16.8
최대풍속 풍향(16방위)         186.3
dtype: float64

06월
지점                    187.0
평균상대습도(%)              84.3
월합강수량(00~24h만)(mm)    237.8
평균풍속(m/s)               2.3
최대순간풍속(m/s)            16.8
최대풍속 풍향(16방위)         183.3
dtype: float64

07월
지점                    187.0
평균상대습도(%)              86.1
월합강수량(00~24h만)(mm)    216.4
평균풍속(m/s)               2.6
최대순간풍속(m/s)            17.8
최대풍속 풍향(16방위)         159.7
dtype: float64

08월
지점                    187.0
평균상대습도(%)              82.0
월합강수량(00~24h만)(mm)    299.4
평균풍속(m/s)               2.8
최대순간풍속(m/s)            20.4
최대풍속 풍향(16방위)         165.7
dtype: float64

09월
지점                    187.0
평균상대습도(%)              77.4
월합강수량(00~24h만)(mm)    256.0
평균풍속(m/s)               2.7
최대순간풍속(m/s)            18.7
최대풍속 풍향(16방위)         161.3
dtype: float64

10월
지점                    187.0
평균상대습도(%)              69.5
월합강수량(00~24h만)(mm)    144.0
평균풍속(m/s)               2.8
최대순간풍속(m/s)            19.8
최대풍속 풍향(16방위)         193.7
dtype: float64

11월
지점                    187.0
평균상대습도(%)              69.3
월합강수량(00~24h만)(mm)    110.8
평균풍속(m/s)               2.7
최대순간풍속(m/s)            16.2
최대풍속 풍향(16방위)         245.7
dtype: float64

12월
지점                    187.0
평균상대습도(%)              66.4
월합강수량(00~24h만)(mm)     72.5
평균풍속(m/s)               2.9
최대순간풍속(m/s)            17.0
최대풍속 풍향(16방위)         254.0
dtype: float64

세종

01월
지점                    239.0
평균상대습도(%)              65.0
월합강수량(00~24h만)(mm)     81.3
평균풍속(m/s)               1.1
최대순간풍속(m/s)            10.6
최대풍속 풍향(16방위)          70.0
dtype: float64

02월
지점                    239.0
평균상대습도(%)              65.0
월합강수량(00~24h만)(mm)     89.7
평균풍속(m/s)               1.3
최대순간풍속(m/s)             9.9
최대풍속 풍향(16방위)         340.0
dtype: float64

03월
지점                    239.0
평균상대습도(%)              52.0
월합강수량(00~24h만)(mm)     22.6
평균풍속(m/s)               1.6
최대순간풍속(m/s)            10.4
최대풍속 풍향(16방위)         320.0
dtype: float64

04월
지점                    239.0
평균상대습도(%)              48.0
월합강수량(00~24h만)(mm)     17.6
평균풍속(m/s)               1.9
최대순간풍속(m/s)            11.0
최대풍속 풍향(16방위)         340.0
dtype: float64

05월
지점                    239.0
평균상대습도(%)              67.0
월합강수량(00~24h만)(mm)     45.9
평균풍속(m/s)               1.5
최대순간풍속(m/s)             7.0
최대풍속 풍향(16방위)         190.0
dtype: float64

06월
지점                    239.0
평균상대습도(%)              70.5
월합강수량(00~24h만)(mm)    158.8
평균풍속(m/s)               1.2
최대순간풍속(m/s)             8.0
최대풍속 풍향(16방위)         330.0
dtype: float64

07월
지점                    239.0
평균상대습도(%)              79.5
월합강수량(00~24h만)(mm)    355.4
평균풍속(m/s)               1.3
최대순간풍속(m/s)             8.6
최대풍속 풍향(16방위)          80.0
dtype: float64

08월
지점                    239.0
평균상대습도(%)              81.0
월합강수량(00~24h만)(mm)    344.4
평균풍속(m/s)               1.3
최대순간풍속(m/s)            11.0
최대풍속 풍향(16방위)         125.0
dtype: float64

09월
지점                    239.0
평균상대습도(%)              77.0
월합강수량(00~24h만)(mm)    167.2
평균풍속(m/s)               1.4
최대순간풍속(m/s)            14.3
최대풍속 풍향(16방위)         240.0
dtype: float64

10월
지점                    239.0
평균상대습도(%)              70.5
월합강수량(00~24h만)(mm)     49.0
평균풍속(m/s)               1.2
최대순간풍속(m/s)             9.5
최대풍속 풍향(16방위)         330.0
dtype: float64

11월
지점                    239.0
평균상대습도(%)              66.0
월합강수량(00~24h만)(mm)     81.2
평균풍속(m/s)               1.2
최대순간풍속(m/s)            10.4
최대풍속 풍향(16방위)         330.0
dtype: float64

12월
지점                    239.0
평균상대습도(%)              63.5
월합강수량(00~24h만)(mm)     15.0
평균풍속(m/s)               1.2
최대순간풍속(m/s)            10.8
최대풍속 풍향(16방위)         330.0
dtype: float64

In [108]:
months = []
for j in range(17):
    for i in range(1,13):
        months.append(str(i))
print(len(months))

204

In [106]:
areas = []
for i in area:
    for j in range(12):
        areas.append(i)
print(areas)
print(len(areas))

['강원', '강원', '강원', '강원', '강원', '강원', '강원', '강원', '강원', '강원', '강원', '강원', '경기', '경기', '경기', '경기', '경기', '경기', '경기', '경기', '경기', '경기', '경기', '경기', '인천', '인천', '인천', '인천', '인천', '인천', '인천', '인천', '인천', '인천', '인천', '인천', '서울', '서울', '서울', '서울', '서울', '서울', '서울', '서울', '서울', '서울', '서울', '서울', '경북', '경북', '경북', '경북', '경북', '경북', '경북', '경북', '경북', '경북', '경북', '경북', '충북', '충북', '충북', '충북', '충북', '충북', '충북', '충북', '충북', '충북', '충북', '충북', '충남', '충남', '충남', '충남', '충남', '충남', '충남', '충남', '충남', '충남', '충남', '충남', '대전', '대전', '대전', '대전', '대전', '대전', '대전', '대전', '대전', '대전', '대전', '대전', '전북', '전북', '전북', '전북', '전북', '전북', '전북', '전북', '전북', '전북', '전북', '전북', '대구', '대구', '대구', '대구', '대구', '대구', '대구', '대구', '대구', '대구', '대구', '대구', '울산', '울산', '울산', '울산', '울산', '울산', '울산', '울산', '울산', '울산', '울산', '울산', '경남', '경남', '경남', '경남', '경남', '경남', '경남', '경남', '경남', '경남', '경남', '경남', '광주', '광주', '광주', '광주', '광주', '광주', '광주', '광주', '광주', '광주', '광주', '광주', '부산', '부산', '부산', '부산', '부산', '부산', '부산', '부산', '부산', '부산', '부산', '부산', '전남', '전남', '전남', '전남', '전남', '전남', '전남', '전남', '전남', '전남', '전남', '전남', '제주', '제주', '제주', '제주', '제주', '제주', '제주', '제주', '제주', '제주', '제주', '제주', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종']
204

In [117]:
area = ['강원','경기','인천','서울','경북','충북','충남', '대전', '전북', '대구', '울산', '경남', '광주', '부산', '전남', '제주', '세종']
humidity = []
rain = []
wind = []

for i in area:
#     print(i, '\n')
    for j in range(1,10):
        humidity.append(data['평균상대습도(%)'][(data['지점명']==i)&(data['일시'].str.contains('-0'+str(j)))].mean())
        rain.append(data['월합강수량(00~24h만)(mm)'][(data['지점명']==i)&(data['일시'].str.contains('-0'+str(j)))].mean())
        wind.append(data['최대순간풍속(m/s)'][(data['지점명']==i)&(data['일시'].str.contains('-0'+str(j)))].mean())
#         print(data[(data['지점명']==i)&(data['일시'].str.contains('-0'+str(j)))].mean().round(1), '\n')
    for k in range(10,13):
        humidity.append(data['평균상대습도(%)'][(data['지점명']==i)&(data['일시'].str.contains('-'+str(k)))].mean())
        rain.append(data['월합강수량(00~24h만)(mm)'][(data['지점명']==i)&(data['일시'].str.contains('-'+str(k)))].mean())
        wind.append(data['최대순간풍속(m/s)'][(data['지점명']==i)&(data['일시'].str.contains('-'+str(k)))].mean())
#         print(data[(data['지점명']==i)&(data['일시'].str.contains('-'+str(k)))].mean().round(1), '\n')
print(humidity)
print(rain)
print(wind)

[56.94776119402985, 57.6865671641791, 55.917910447761194, 57.007462686567166, 60.701492537313435, 70.3955223880597, 79.22388059701493, 79.81343283582089, 77.91791044776119, 71.58518518518518, 65.94814814814815, 59.6, 61.86, 59.92, 57.36, 58.94, 63.08, 68.4, 79.78, 79.08, 74.92, 71.96, 69.46, 65.28, 61.53333333333333, 61.63333333333333, 63.86666666666667, 65.2, 69.9, 79.26666666666667, 87.33333333333333, 83.46666666666667, 75.13333333333334, 68.23333333333333, 67.1, 63.733333333333334, 52.4, 51.9, 51.2, 54.0, 56.0, 62.6, 74.1, 71.2, 63.4, 59.6, 60.0, 56.1, 54.83571428571429, 55.378571428571426, 55.51428571428571, 57.59285714285714, 61.19285714285714, 70.66428571428571, 79.15, 79.23571428571428, 78.55, 72.51428571428572, 66.41428571428571, 58.07142857142857, 62.78, 58.84, 55.22, 55.78, 59.02, 65.84, 77.46, 76.38, 75.42, 72.48, 69.58, 66.16, 69.52727272727273, 65.10909090909091, 64.44444444444444, 65.0909090909091, 68.0, 74.8, 83.56363636363636, 81.54545454545455, 78.45454545454545, 75.52727272727273, 74.44642857142857, 71.76785714285714, 66.4, 60.9, 57.7, 59.4, 62.3, 70.5, 82.2, 79.6, 77.2, 74.5, 72.8, 69.9, 69.8, 65.63, 64.51, 65.86, 67.91, 75.43, 82.14, 80.37, 78.51, 74.53, 72.97, 71.27, 50.666666666666664, 50.75, 50.5, 53.666666666666664, 53.833333333333336, 64.0909090909091, 71.9090909090909, 73.27272727272727, 71.81818181818181, 66.58333333333333, 61.75, 53.833333333333336, 48.6, 53.3, 56.8, 60.8, 63.8, 76.3, 80.6, 79.8, 78.4, 69.6, 62.6, 51.5, 54.42857142857143, 54.41428571428571, 57.489208633093526, 60.68345323741007, 64.29285714285714, 73.44285714285714, 80.96428571428571, 79.20714285714286, 77.82142857142857, 71.64285714285714, 67.05714285714286, 58.364285714285714, 64.5, 60.4, 59.8, 61.1, 63.5, 73.1, 81.8, 79.6, 76.0, 69.6, 68.8, 66.5, 44.9, 50.0, 55.3, 60.1, 65.7, 75.6, 81.8, 76.3, 72.7, 62.6, 57.1, 48.2, 67.09655172413792, 65.44137931034483, 65.87671232876713, 68.37671232876713, 71.28571428571429, 80.41216216216216, 86.08904109589041, 83.03448275862068, 80.1986301369863, 73.39041095890411, 71.96575342465754, 68.76027397260275, 65.83333333333333, 65.7, 64.93333333333334, 68.1, 72.3, 84.3, 86.1, 82.0, 77.36666666666666, 69.46666666666667, 69.26666666666667, 66.4, 65.0, 65.0, 52.0, 48.0, 67.0, 70.5, 79.5, 81.0, 77.0, 70.5, 66.0, 63.5]
[23.764925373134332, 38.432089552238814, 38.773880597014944, 85.25149253731344, 70.48059701492535, 112.48805970149256, 317.1746268656716, 260.5805970149252, 143.29328358208954, 79.28296296296303, 64.63407407407409, 25.560447761194034, 16.294, 32.31599999999999, 29.614000000000004, 79.87400000000001, 87.15399999999998, 107.706, 405.43799999999993, 259.826, 104.31000000000002, 60.82, 60.191999999999986, 26.899999999999995, 13.713333333333333, 25.823333333333338, 19.466666666666672, 57.48333333333333, 79.96333333333332, 86.50000000000001, 301.5566666666667, 187.7433333333333, 91.66000000000001, 49.8, 59.13666666666667, 25.970000000000006, 14.690000000000001, 30.810000000000002, 24.71, 78.32, 83.42999999999999, 122.78999999999999, 431.96000000000004, 245.89000000000001, 94.8, 55.58, 65.22999999999999, 25.97, 30.991428571428568, 38.89214285714288, 52.85642857142858, 95.46571428571436, 65.80928571428572, 107.41714285714286, 215.0971428571429, 203.85714285714297, 146.35999999999999, 103.23142857142868, 52.997142857142876, 32.13857142857143, 20.12, 34.692, 44.31800000000001, 88.93199999999999, 69.83600000000001, 118.404, 305.12000000000006, 259.144, 129.084, 73.73599999999999, 55.23599999999998, 29.711999999999993, 20.64909090909091, 37.96363636363636, 39.4, 84.88363636363636, 72.54181818181819, 111.20909090909089, 296.8018181818183, 242.19636363636354, 125.77272727272725, 72.1672727272727, 64.1375, 36.007142857142846, 23.529999999999998, 40.28, 45.67, 87.59, 70.13, 135.95, 317.96, 252.87000000000003, 141.45, 79.55, 62.17, 33.82, 28.714000000000002, 37.893999999999984, 58.334999999999994, 97.50400000000002, 80.05799999999998, 111.52799999999999, 284.893, 291.69700000000006, 138.41400000000007, 81.94700000000003, 63.982000000000006, 41.323, 16.95, 22.683333333333334, 59.61666666666667, 85.78333333333332, 54.550000000000004, 85.30000000000001, 214.2, 265.2, 138.4090909090909, 88.23333333333335, 33.80833333333333, 18.750000000000004, 43.3, 42.66000000000001, 73.12000000000002, 111.12, 74.63, 130.26999999999998, 210.57, 181.69, 204.22000000000003, 122.65, 51.61, 32.39, 27.20220588235293, 44.89500000000001, 82.27285714285713, 138.6921428571429, 106.45571428571425, 147.64142857142858, 282.1235714285714, 260.1564285714286, 212.43214285714285, 118.195, 58.37122302158275, 33.87928571428571, 29.48, 35.28, 62.019999999999996, 96.14, 77.33, 119.34, 273.53000000000003, 322.98, 139.08999999999997, 91.93, 62.7, 37.39, 35.510000000000005, 51.06, 102.15, 149.43, 121.21, 170.08, 303.5799999999999, 214.77999999999997, 230.45, 121.54000000000003, 65.27, 48.92, 28.288275862068968, 42.139999999999986, 76.42876712328768, 124.49523809523812, 114.77229729729737, 150.12432432432436, 236.27770270270264, 258.4958904109589, 164.44452054794525, 99.8760273972603, 65.18972602739728, 39.36232876712328, 57.20000000000001, 86.23333333333333, 114.47666666666667, 164.09666666666666, 163.31666666666666, 237.83333333333334, 216.37, 299.4133333333333, 255.99666666666664, 143.98666666666668, 110.79999999999998, 72.46666666666667, 81.3, 89.7, 22.6, 17.6, 45.9, 158.85, 355.4, 344.4, 167.25, 49.0, 81.15, 15.0]
[14.473134328358205, 14.055223880597012, 16.07611940298507, 17.046268656716425, 16.717164179104472, 12.491044776119406, 13.367910447761199, 14.300746268656722, 13.744029850746264, 14.045185185185192, 15.427407407407413, 14.868888888888886, 12.396000000000004, 12.055999999999997, 14.252, 14.92, 14.22, 12.022000000000002, 12.450000000000003, 13.821999999999997, 12.752000000000002, 11.982000000000001, 13.111999999999998, 12.374000000000002, 17.283333333333328, 15.686666666666666, 17.756666666666668, 18.803333333333338, 18.643333333333327, 15.326666666666664, 17.060000000000002, 19.220000000000002, 15.643333333333336, 16.30666666666666, 18.886666666666667, 18.18333333333333, 13.439999999999998, 13.460000000000003, 15.52, 16.69, 15.300000000000002, 13.469999999999999, 14.330000000000002, 15.95, 15.95, 14.239999999999998, 14.690000000000001, 14.209999999999999, 15.994285714285716, 14.987857142857145, 16.148571428571426, 16.558571428571423, 15.596428571428568, 12.006428571428572, 12.860714285714286, 13.949285714285713, 14.215714285714292, 14.694285714285712, 15.067857142857143, 15.81714285714286, 13.405999999999997, 13.036, 14.875999999999998, 15.521999999999998, 14.647999999999998, 11.476, 13.143999999999991, 13.802, 12.710000000000003, 13.208, 13.356000000000002, 13.124, 12.670909090909095, 12.281818181818178, 14.02, 15.896363636363638, 13.841818181818176, 11.459999999999999, 13.363636363636363, 14.498181818181818, 12.876363636363633, 12.250909090909092, 12.903571428571427, 13.196428571428571, 12.69, 12.169999999999998, 13.98, 14.770000000000001, 13.589999999999998, 12.17, 13.870000000000001, 14.830000000000002, 13.910000000000002, 11.900000000000002, 12.64, 13.0, 15.321000000000003, 14.687999999999999, 15.956, 17.180999999999994, 15.210999999999999, 13.465000000000002, 14.288000000000006, 16.756, 14.727999999999998, 14.949999999999996, 15.157, 15.699000000000003, 14.533333333333331, 13.450000000000001, 15.108333333333334, 15.041666666666666, 14.816666666666668, 11.241666666666665, 14.154545454545456, 13.58181818181818, 12.545454545454545, 12.583333333333334, 13.824999999999998, 15.183333333333332, 14.95, 14.16, 15.02, 16.81, 14.280000000000001, 11.3, 14.7, 15.12, 15.73, 16.259999999999998, 12.76, 13.99, 13.719285714285709, 13.358571428571432, 14.861428571428574, 15.387142857142859, 13.790000000000006, 11.292142857142855, 13.45857142857143, 14.22642857142857, 13.536428571428567, 14.088571428571427, 13.280714285714284, 13.88785714285714, 13.059999999999999, 13.210000000000003, 14.3, 17.86, 13.8, 12.829999999999998, 15.079999999999998, 16.75, 13.59, 14.070000000000002, 13.320000000000002, 12.700000000000001, 18.509999999999998, 19.050000000000004, 19.819999999999997, 20.8, 18.35, 17.009999999999998, 20.38, 20.029999999999998, 19.390000000000004, 22.529999999999998, 19.1, 19.75, 17.757241379310347, 17.85999999999999, 18.271232876712336, 19.24285714285714, 17.150000000000002, 15.201351351351352, 16.763513513513526, 20.302721088435373, 17.116438356164384, 17.091780821917805, 17.056164383561644, 18.126027397260277, 17.230000000000004, 17.863333333333337, 17.956666666666667, 18.803333333333335, 16.776666666666667, 16.756666666666668, 17.790000000000003, 20.39, 18.716666666666665, 19.836666666666666, 16.196666666666665, 17.040000000000003, 10.6, 9.9, 10.4, 11.0, 6.95, 8.0, 8.6, 11.05, 14.3, 9.5, 10.35, 10.75]

In [118]:
print(len(humidity))
print(len(rain))
print(len(wind))

204
204
204

In [120]:
area_month_df = pd.DataFrame({'area':areas, 'month':months, 'humidity':humidity,
                             'rain':rain, 'wind':wind})
area_month_df

    area month   humidity        rain       wind
0     강원     1  56.947761   23.764925  14.473134
1     강원     2  57.686567   38.432090  14.055224
2     강원     3  55.917910   38.773881  16.076119
3     강원     4  57.007463   85.251493  17.046269
4     강원     5  60.701493   70.480597  16.717164
..   ...   ...        ...         ...        ...
199   세종     8  81.000000  344.400000  11.050000
200   세종     9  77.000000  167.250000  14.300000
201   세종    10  70.500000   49.000000   9.500000
202   세종    11  66.000000   81.150000  10.350000
203   세종    12  63.500000   15.000000  10.750000

[204 rows x 5 columns]

In [121]:
area_month_df['humidity'] = area_month_df['humidity'].round(1)
area_month_df['rain'] = area_month_df['rain'].round(1)
area_month_df['wind'] = area_month_df['wind'].round(1)

In [122]:
area_month_df

    area month  humidity   rain  wind
0     강원     1      56.9   23.8  14.5
1     강원     2      57.7   38.4  14.1
2     강원     3      55.9   38.8  16.1
3     강원     4      57.0   85.3  17.0
4     강원     5      60.7   70.5  16.7
..   ...   ...       ...    ...   ...
199   세종     8      81.0  344.4  11.0
200   세종     9      77.0  167.2  14.3
201   세종    10      70.5   49.0   9.5
202   세종    11      66.0   81.2  10.4
203   세종    12      63.5   15.0  10.8

[204 rows x 5 columns]

In [124]:
print(areas)
print(months)

['강원', '강원', '강원', '강원', '강원', '강원', '강원', '강원', '강원', '강원', '강원', '강원', '경기', '경기', '경기', '경기', '경기', '경기', '경기', '경기', '경기', '경기', '경기', '경기', '인천', '인천', '인천', '인천', '인천', '인천', '인천', '인천', '인천', '인천', '인천', '인천', '서울', '서울', '서울', '서울', '서울', '서울', '서울', '서울', '서울', '서울', '서울', '서울', '경북', '경북', '경북', '경북', '경북', '경북', '경북', '경북', '경북', '경북', '경북', '경북', '충북', '충북', '충북', '충북', '충북', '충북', '충북', '충북', '충북', '충북', '충북', '충북', '충남', '충남', '충남', '충남', '충남', '충남', '충남', '충남', '충남', '충남', '충남', '충남', '대전', '대전', '대전', '대전', '대전', '대전', '대전', '대전', '대전', '대전', '대전', '대전', '전북', '전북', '전북', '전북', '전북', '전북', '전북', '전북', '전북', '전북', '전북', '전북', '대구', '대구', '대구', '대구', '대구', '대구', '대구', '대구', '대구', '대구', '대구', '대구', '울산', '울산', '울산', '울산', '울산', '울산', '울산', '울산', '울산', '울산', '울산', '울산', '경남', '경남', '경남', '경남', '경남', '경남', '경남', '경남', '경남', '경남', '경남', '경남', '광주', '광주', '광주', '광주', '광주', '광주', '광주', '광주', '광주', '광주', '광주', '광주', '부산', '부산', '부산', '부산', '부산', '부산', '부산', '부산', '부산', '부산', '부산', '부산', '전남', '전남', '전남', '전남', '전남', '전남', '전남', '전남', '전남', '전남', '전남', '전남', '제주', '제주', '제주', '제주', '제주', '제주', '제주', '제주', '제주', '제주', '제주', '제주', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종', '세종']
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12']

In [145]:
counts = []

for i in area:
    for j in range(1,13):
        counts.append(data2['locsi'][(data2['locsi']==i)&(data2['startmonth']==int(j))].size)
print(counts)

[52, 49, 144, 155, 135, 67, 7, 12, 6, 26, 28, 28, 54, 75, 308, 243, 82, 66, 11, 9, 12, 22, 42, 26, 10, 22, 58, 47, 14, 5, 1, 2, 8, 4, 2, 3, 6, 7, 34, 22, 10, 21, 1, 0, 0, 5, 5, 3, 61, 97, 195, 147, 85, 72, 9, 15, 7, 27, 39, 38, 8, 26, 81, 58, 26, 19, 5, 5, 2, 3, 5, 4, 4, 19, 54, 85, 23, 26, 5, 8, 10, 11, 6, 11, 3, 14, 16, 22, 6, 5, 0, 0, 1, 1, 3, 3, 7, 22, 67, 53, 13, 15, 4, 7, 2, 12, 6, 8, 8, 8, 21, 10, 11, 8, 1, 2, 0, 1, 1, 3, 14, 25, 31, 13, 10, 3, 0, 3, 1, 1, 2, 10, 45, 71, 103, 67, 23, 26, 2, 6, 4, 18, 24, 26, 1, 8, 13, 6, 3, 1, 0, 0, 0, 0, 1, 1, 20, 20, 18, 21, 6, 7, 0, 3, 1, 9, 9, 11, 36, 55, 130, 88, 25, 18, 2, 11, 3, 6, 9, 18, 1, 0, 1, 2, 0, 0, 0, 0, 0, 0, 1, 0, 1, 6, 13, 5, 2, 4, 1, 0, 0, 0, 0, 0]

In [146]:
len(counts)

204

In [147]:
area_month_df

    area month  humidity   rain  wind
0     강원     1      56.9   23.8  14.5
1     강원     2      57.7   38.4  14.1
2     강원     3      55.9   38.8  16.1
3     강원     4      57.0   85.3  17.0
4     강원     5      60.7   70.5  16.7
..   ...   ...       ...    ...   ...
199   세종     8      81.0  344.4  11.0
200   세종     9      77.0  167.2  14.3
201   세종    10      70.5   49.0   9.5
202   세종    11      66.0   81.2  10.4
203   세종    12      63.5   15.0  10.8

[204 rows x 5 columns]

In [148]:
area_month_df['counts'] = counts
area_month_df

    area month  humidity   rain  wind  counts
0     강원     1      56.9   23.8  14.5      52
1     강원     2      57.7   38.4  14.1      49
2     강원     3      55.9   38.8  16.1     144
3     강원     4      57.0   85.3  17.0     155
4     강원     5      60.7   70.5  16.7     135
..   ...   ...       ...    ...   ...     ...
199   세종     8      81.0  344.4  11.0       0
200   세종     9      77.0  167.2  14.3       0
201   세종    10      70.5   49.0   9.5       0
202   세종    11      66.0   81.2  10.4       0
203   세종    12      63.5   15.0  10.8       0

[204 rows x 6 columns]

# 일별 날씨 데이터

In [107]:
import pandas as pd
day_weather = pd.read_csv('2011-2020 일별 최고기온_일강수량_최대풍속_최소상대습도.csv', encoding = 'cp949')
day_weather

        area_code area        date  max_temp  day_rain  max_wind  min_humidity
0              90   속초  2011-01-01       1.7       1.8       6.3          31.0
1              90   속초  2011-01-02       6.1       1.4       4.1          22.0
2              90   속초  2011-01-03       3.8       8.8       3.3          59.0
3              90   속초  2011-01-04       6.3       NaN       3.9          20.0
4              90   속초  2011-01-05       3.8       NaN       7.7          28.0
...           ...  ...         ...       ...       ...       ...           ...
342990        295   남해  2020-12-27       6.0       7.8       1.8          62.0
342991        295   남해  2020-12-28      11.5       NaN       2.0          60.0
342992        295   남해  2020-12-29      11.2       6.6       3.0          59.0
342993        295   남해  2020-12-30       1.6       0.6       7.3          43.0
342994        295   남해  2020-12-31       2.8       NaN       5.1          43.0

[342995 rows x 7 columns]

In [108]:
day_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342995 entries, 0 to 342994
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   area_code     342995 non-null  int64
 1   area          342995 non-null  object
 2   date          342995 non-null  object
 3   max_temp      342970 non-null  float64
 4   day_rain      125280 non-null  float64
 5   max_wind      342810 non-null  float64
 6   min_humidity  342853 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 18.3+ MB

In [109]:
day_weather['area'].unique()

array(['속초', '북춘천', '철원', '동두천', '파주', '대관령', '춘천', '백령도', '북강릉', '강릉',
       '동해', '서울', '인천', '원주', '울릉도', '수원', '영월', '충주', '서산', '울진', '청주',
       '대전', '추풍령', '안동', '상주', '포항', '군산', '대구', '전주', '울산', '창원', '광주',
       '부산', '통영', '목포', '여수', '흑산도', '완도', '고창', '순천', '진도(첨찰산)',
       '대구(기)', '홍성', '제주', '고산', '성산', '서귀포', '진주', '강화', '양평', '이천',
       '인제', '홍천', '태백', '정선군', '제천', '보은', '천안', '보령', '부여', '금산', '세종',
       '부안', '임실', '정읍', '남원', '장수', '고창군', '영광군', '김해시', '순창군', '북창원',
       '주암', '양산시', '보성군', '강진군', '장흥', '해남', '고흥', '의령군', '함양군', '광양시',
       '진도군', '봉화', '영주', '문경', '청송군', '영덕', '의성', '구미', '영천', '경주시',
       '거창', '합천', '밀양', '산청', '거제', '남해'], dtype=object)

In [110]:
day_weather = day_weather.replace(['백령도','강화'], '인천')
day_weather = day_weather.replace('대구(기)', '대구')
day_weather = day_weather.replace('창원', '경남')
day_weather = day_weather.replace(['서귀포', '성산'], '제주')
day_weather = day_weather.replace(['동두천','파주','수원','양평', '이천'], '경기')
day_weather = day_weather.replace(['울릉도','울진','안동','상주','포항','봉화','영주','문경',
                    '청송군','영덕','의성','구미','영천','경주시'], '경북')
day_weather = day_weather.replace(['속초','북춘천','철원','대관령','춘천','북강릉','강릉','동해',
                    '원주','영월','인제','홍천','태백','정선군'], '강원')
data = day_weather.replace(['통영','진주','김해시','양산시','의령군','함양군','거창','합천',
                    '밀양','산청','거제','남해','북창원'], '경남')
day_weather = data.replace(['목포','여수','흑산도','완도','고창','순천','진도(첨찰산)','영광군',
                     '주암','보성군','강진군','장흥','해남','고흥','광양시','진도군'], '전남')
day_weather = day_weather.replace(['서산','홍성','천안','보령','부여','금산'], '충남')
day_weather = day_weather.replace(['충주','청주','추풍령','제천','보은'], '충북')
day_weather = day_weather.replace(['전주','군산','부안','임실','정읍','남원','장수','고창군',
                    '순창군','고산'], '전북')

In [111]:
day_weather

        area_code area        date  max_temp  day_rain  max_wind  min_humidity
0              90   강원  2011-01-01       1.7       1.8       6.3          31.0
1              90   강원  2011-01-02       6.1       1.4       4.1          22.0
2              90   강원  2011-01-03       3.8       8.8       3.3          59.0
3              90   강원  2011-01-04       6.3       NaN       3.9          20.0
4              90   강원  2011-01-05       3.8       NaN       7.7          28.0
...           ...  ...         ...       ...       ...       ...           ...
342990        295   경남  2020-12-27       6.0       7.8       1.8          62.0
342991        295   경남  2020-12-28      11.5       NaN       2.0          60.0
342992        295   경남  2020-12-29      11.2       6.6       3.0          59.0
342993        295   경남  2020-12-30       1.6       0.6       7.3          43.0
342994        295   경남  2020-12-31       2.8       NaN       5.1          43.0

[342995 rows x 7 columns]

In [112]:
day_weather['area'].unique()

array(['강원', '경기', '인천', '서울', '경북', '충북', '충남', '대전', '전북', '대구', '울산',
       '경남', '광주', '부산', '전남', '제주', '세종'], dtype=object)

In [113]:
day_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342995 entries, 0 to 342994
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   area_code     342995 non-null  int64
 1   area          342995 non-null  object
 2   date          342995 non-null  object
 3   max_temp      342970 non-null  float64
 4   day_rain      125280 non-null  float64
 5   max_wind      342810 non-null  float64
 6   min_humidity  342853 non-null  float64
dtypes: float64(4), int64(1), object(2)
memory usage: 18.3+ MB

In [114]:
day_weather['date'] = pd.to_datetime(day_weather['date'])

In [115]:
day_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342995 entries, 0 to 342994
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   area_code     342995 non-null  int64
 1   area          342995 non-null  object
 2   date          342995 non-null  datetime64[ns]
 3   max_temp      342970 non-null  float64
 4   day_rain      125280 non-null  float64
 5   max_wind      342810 non-null  float64
 6   min_humidity  342853 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 18.3+ MB

In [116]:
import datetime

today = datetime.date.today()

In [117]:
today

datetime.date(2022, 4, 7)

In [118]:
today.day

7

In [119]:
day_weather.isnull().sum()

area_code            0
area                 0
date                 0
max_temp            25
day_rain        217715
max_wind           185
min_humidity       142
dtype: int64

In [120]:
import numpy as np
day_weather.loc[day_weather['day_rain'] != day_weather['day_rain'], 'day_rain'] = 0
day_weather

        area_code area       date  max_temp  day_rain  max_wind  min_humidity
0              90   강원 2011-01-01       1.7       1.8       6.3          31.0
1              90   강원 2011-01-02       6.1       1.4       4.1          22.0
2              90   강원 2011-01-03       3.8       8.8       3.3          59.0
3              90   강원 2011-01-04       6.3       0.0       3.9          20.0
4              90   강원 2011-01-05       3.8       0.0       7.7          28.0
...           ...  ...        ...       ...       ...       ...           ...
342990        295   경남 2020-12-27       6.0       7.8       1.8          62.0
342991        295   경남 2020-12-28      11.5       0.0       2.0          60.0
342992        295   경남 2020-12-29      11.2       6.6       3.0          59.0
342993        295   경남 2020-12-30       1.6       0.6       7.3          43.0
342994        295   경남 2020-12-31       2.8       0.0       5.1          43.0

[342995 rows x 7 columns]

In [121]:
day_weather = day_weather.fillna(0)
day_weather

        area_code area       date  max_temp  day_rain  max_wind  min_humidity
0              90   강원 2011-01-01       1.7       1.8       6.3          31.0
1              90   강원 2011-01-02       6.1       1.4       4.1          22.0
2              90   강원 2011-01-03       3.8       8.8       3.3          59.0
3              90   강원 2011-01-04       6.3       0.0       3.9          20.0
4              90   강원 2011-01-05       3.8       0.0       7.7          28.0
...           ...  ...        ...       ...       ...       ...           ...
342990        295   경남 2020-12-27       6.0       7.8       1.8          62.0
342991        295   경남 2020-12-28      11.5       0.0       2.0          60.0
342992        295   경남 2020-12-29      11.2       6.6       3.0          59.0
342993        295   경남 2020-12-30       1.6       0.6       7.3          43.0
342994        295   경남 2020-12-31       2.8       0.0       5.1          43.0

[342995 rows x 7 columns]

In [122]:
day_weather.isnull().sum()

area_code       0
area            0
date            0
max_temp        0
day_rain        0
max_wind        0
min_humidity    0
dtype: int64

# 일별 화재발생 데이터

In [123]:
day_fire = pd.read_csv('forest_fires_preprocessing.csv', encoding = 'utf-8-sig')
day_fire

,Unnamed: 0,OCCRR_DTM,RQRMN_TM,CTPRV_NM,SGNG_NM,EMNDN_NM,OCCCRR_RI,ARA_LTNMB,CUSE_NM,DMG_AREA,ADDRESS
0,0,2013-03-27,56.0,서울,강북구,수유동,NaN,산127-1,노숙자실화 추정,0.00,서울 강북구 수유동 산127-1
1,1,2013-10-27,50.0,서울,도봉구,도봉동,NaN,산29-89,미상,0.00,서울 도봉구 도봉동 산29-89
2,2,2013-03-10,29.0,서울,서초구,내곡동,NaN,산12-415,밭두렁소각,0.00,서울 서초구 내곡동 산12-415
3,3,2013-04-16,153.0,서울,송파구,마천동,NaN,54-20,방화 추정,0.00,서울 송파구 마천동 54-20
4,4,2010-11-09,22.0,서울,종로,평창,NaN,산6-386,입산자실화,0.01,서울 종로 평창 산6-386
...,...,...,...,...,...,...,...,...,...,...,...
28455,28739,2020-04-16,NaN,제주특별자치도,서귀포시,표선면,성읍리,2870-4,원인불명,0.00,제주특별자치도 서귀포시 표선면 성읍리2870-4
28456,28740,2020-10-05,NaN,제주특별자치도,서귀포시,성산읍,수산리,3988-9,원인불명,0.00,제주특별자치도 서귀포시 성산읍 수산리3988-9
28457,28741,2021-02-10,NaN,제주특별자치도,서귀포시,대정읍,구억리,131,원인불명,0.00,제주특별자치도 서귀포시 대정읍 구억리131
28458,28742,2021-03-25,NaN,제주특별자치도,서귀포시,성산읍,삼달리,2157-1,원인불명,0.00,제주특별자치도 서귀포시 성산읍 삼달리2157-1
28459,28743,2007-02-24,115.0,제주,제주,추자,대서,산53,쓰레기소각,1.00,제주 제주 추자 대서산53

In [124]:
day_fire.sort_values('OCCRR_DTM')

,Unnamed: 0,OCCRR_DTM,RQRMN_TM,CTPRV_NM,SGNG_NM,EMNDN_NM,OCCCRR_RI,ARA_LTNMB,CUSE_NM,DMG_AREA,ADDRESS
2800,2828,1911-06-29,1225.0,대전,동,천,NaN,산11-9,담뱃불실화,0.25,대전 동 천 산11-9
2795,2823,1911-06-29,NaN,대전,동,천,NaN,산11-9,원인불명,0.25,대전 동 천 산11-9
2799,2827,1911-06-29,1225.0,대전,동,천,NaN,산11-9,담뱃불실화,0.25,대전 동 천 산11-9
2823,2851,1911-07-02,1225.0,대전,중,대사,NaN,산3-71,담뱃불실화,0.08,대전 중 대사 산3-71
2820,2848,1911-07-02,NaN,대전,중,대사,NaN,산5-67,원인불명,0.01,대전 중 대사 산5-67
...,...,...,...,...,...,...,...,...,...,...,...
447,451,2021-05-30,NaN,서울특별시,종로구,구기동,NaN,173,원인불명,0.00,서울특별시 종로구 구기동 173
13814,13990,2021-05-30,NaN,충청북도,청주시흥덕구,옥산면,가락리,981,원인불명,0.00,충청북도 청주시흥덕구 옥산면 가락리981
25004,25260,2021-05-30,NaN,대구광역시,달성군,화원읍,명곡리,산61,원인불명,0.00,대구광역시 달성군 화원읍 명곡리산61
6559,6684,2021-05-30,NaN,경기도,하남시,하사창동,NaN,452,원인불명,0.00,경기도 하남시 하사창동 452
28368,28648,2021-05-30,NaN,경상남도,합천군,가회면,중촌리,산86,원인불명,0.00,경상남도 합천군 가회면 중촌리산86

In [125]:
day_fire['CTPRV_NM'].unique()

array(['서울', '서울특별시', '경기도', '부산', '부산광역시', '경상남도', '대구', '대구광역시', '경상북도',
       '인천', '인천광역시', '광주', '광주광역시', '전라남도', '대전', '강원', '대전광역시', '울산',
       '울산광역시', '세종', '충남', '충북', '충청남도', '경기', '강원도', '충청북도', '전북',
       '전라북도', '경남', '전주', nan, '전남', '포항', '경북', '제주', '제주특별자치도'],
      dtype=object)

In [126]:
day_fire[day_fire['CTPRV_NM'].isnull()]

,Unnamed: 0,OCCRR_DTM,RQRMN_TM,CTPRV_NM,SGNG_NM,EMNDN_NM,OCCCRR_RI,ARA_LTNMB,CUSE_NM,DMG_AREA,ADDRESS
16836,17032,1996-05-17,210.0,NaN,무주,안성,죽천,산177,성묘객실화,2.5,무주 안성 죽천산177

In [127]:
day_fire['CTPRV_NM'] = day_fire['CTPRV_NM'].str.replace('서울특별시', '서울')
day_fire['CTPRV_NM'] = day_fire['CTPRV_NM'].str.replace('경기도', '경기')
day_fire['CTPRV_NM'] = day_fire['CTPRV_NM'].str.replace('부산광역시', '부산')
day_fire['CTPRV_NM'] = day_fire['CTPRV_NM'].str.replace('경상남도', '경남')
day_fire['CTPRV_NM'] = day_fire['CTPRV_NM'].str.replace('경상북도', '경북')
day_fire['CTPRV_NM'] = day_fire['CTPRV_NM'].str.replace('대구광역시', '대구')
day_fire['CTPRV_NM'] = day_fire['CTPRV_NM'].str.replace('인천광역시', '인천')
day_fire['CTPRV_NM'] = day_fire['CTPRV_NM'].str.replace('광주광역시', '광주')
day_fire['CTPRV_NM'] = day_fire['CTPRV_NM'].str.replace('전라남도', '전남')
day_fire['CTPRV_NM'] = day_fire['CTPRV_NM'].str.replace('대전광역시', '대전')
day_fire['CTPRV_NM'] = day_fire['CTPRV_NM'].str.replace('강원도', '강원')
day_fire['CTPRV_NM'] = day_fire['CTPRV_NM'].str.replace('울산광역시', '울산')
day_fire['CTPRV_NM'] = day_fire['CTPRV_NM'].str.replace('충청북도', '충북')
day_fire['CTPRV_NM'] = day_fire['CTPRV_NM'].str.replace('충청남도', '충남')
day_fire['CTPRV_NM'] = day_fire['CTPRV_NM'].str.replace('전라북도', '전북')
day_fire['CTPRV_NM'] = day_fire['CTPRV_NM'].str.replace('전주', '전북')
day_fire['CTPRV_NM'] = day_fire['CTPRV_NM'].str.replace('포항', '경북')
day_fire['CTPRV_NM'] = day_fire['CTPRV_NM'].str.replace('제주특별자치도', '제주')
day_fire.loc[day_fire['CTPRV_NM']!=day_fire['CTPRV_NM'], 'CTPRV_NM'] = '전북'

In [128]:
day_fire

,Unnamed: 0,OCCRR_DTM,RQRMN_TM,CTPRV_NM,SGNG_NM,EMNDN_NM,OCCCRR_RI,ARA_LTNMB,CUSE_NM,DMG_AREA,ADDRESS
0,0,2013-03-27,56.0,서울,강북구,수유동,NaN,산127-1,노숙자실화 추정,0.00,서울 강북구 수유동 산127-1
1,1,2013-10-27,50.0,서울,도봉구,도봉동,NaN,산29-89,미상,0.00,서울 도봉구 도봉동 산29-89
2,2,2013-03-10,29.0,서울,서초구,내곡동,NaN,산12-415,밭두렁소각,0.00,서울 서초구 내곡동 산12-415
3,3,2013-04-16,153.0,서울,송파구,마천동,NaN,54-20,방화 추정,0.00,서울 송파구 마천동 54-20
4,4,2010-11-09,22.0,서울,종로,평창,NaN,산6-386,입산자실화,0.01,서울 종로 평창 산6-386
...,...,...,...,...,...,...,...,...,...,...,...
28455,28739,2020-04-16,NaN,제주,서귀포시,표선면,성읍리,2870-4,원인불명,0.00,제주특별자치도 서귀포시 표선면 성읍리2870-4
28456,28740,2020-10-05,NaN,제주,서귀포시,성산읍,수산리,3988-9,원인불명,0.00,제주특별자치도 서귀포시 성산읍 수산리3988-9
28457,28741,2021-02-10,NaN,제주,서귀포시,대정읍,구억리,131,원인불명,0.00,제주특별자치도 서귀포시 대정읍 구억리131
28458,28742,2021-03-25,NaN,제주,서귀포시,성산읍,삼달리,2157-1,원인불명,0.00,제주특별자치도 서귀포시 성산읍 삼달리2157-1
28459,28743,2007-02-24,115.0,제주,제주,추자,대서,산53,쓰레기소각,1.00,제주 제주 추자 대서산53

In [129]:
day_weather

        area_code area       date  max_temp  day_rain  max_wind  min_humidity
0              90   강원 2011-01-01       1.7       1.8       6.3          31.0
1              90   강원 2011-01-02       6.1       1.4       4.1          22.0
2              90   강원 2011-01-03       3.8       8.8       3.3          59.0
3              90   강원 2011-01-04       6.3       0.0       3.9          20.0
4              90   강원 2011-01-05       3.8       0.0       7.7          28.0
...           ...  ...        ...       ...       ...       ...           ...
342990        295   경남 2020-12-27       6.0       7.8       1.8          62.0
342991        295   경남 2020-12-28      11.5       0.0       2.0          60.0
342992        295   경남 2020-12-29      11.2       6.6       3.0          59.0
342993        295   경남 2020-12-30       1.6       0.6       7.3          43.0
342994        295   경남 2020-12-31       2.8       0.0       5.1          43.0

[342995 rows x 7 columns]

In [130]:
day_fire = day_fire.sort_values('OCCRR_DTM')
day_fire

,Unnamed: 0,OCCRR_DTM,RQRMN_TM,CTPRV_NM,SGNG_NM,EMNDN_NM,OCCCRR_RI,ARA_LTNMB,CUSE_NM,DMG_AREA,ADDRESS
2800,2828,1911-06-29,1225.0,대전,동,천,NaN,산11-9,담뱃불실화,0.25,대전 동 천 산11-9
2795,2823,1911-06-29,NaN,대전,동,천,NaN,산11-9,원인불명,0.25,대전 동 천 산11-9
2799,2827,1911-06-29,1225.0,대전,동,천,NaN,산11-9,담뱃불실화,0.25,대전 동 천 산11-9
2823,2851,1911-07-02,1225.0,대전,중,대사,NaN,산3-71,담뱃불실화,0.08,대전 중 대사 산3-71
2820,2848,1911-07-02,NaN,대전,중,대사,NaN,산5-67,원인불명,0.01,대전 중 대사 산5-67
...,...,...,...,...,...,...,...,...,...,...,...
447,451,2021-05-30,NaN,서울,종로구,구기동,NaN,173,원인불명,0.00,서울특별시 종로구 구기동 173
13814,13990,2021-05-30,NaN,충북,청주시흥덕구,옥산면,가락리,981,원인불명,0.00,충청북도 청주시흥덕구 옥산면 가락리981
25004,25260,2021-05-30,NaN,대구,달성군,화원읍,명곡리,산61,원인불명,0.00,대구광역시 달성군 화원읍 명곡리산61
6559,6684,2021-05-30,NaN,경기,하남시,하사창동,NaN,452,원인불명,0.00,경기도 하남시 하사창동 452
28368,28648,2021-05-30,NaN,경남,합천군,가회면,중촌리,산86,원인불명,0.00,경상남도 합천군 가회면 중촌리산86

In [131]:
day_fire.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 28460 entries, 2800 to 28368
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  28460 non-null  int64
 1   OCCRR_DTM   28460 non-null  object
 2   RQRMN_TM    9781 non-null   float64
 3   CTPRV_NM    28460 non-null  object
 4   SGNG_NM     28460 non-null  object
 5   EMNDN_NM    28460 non-null  object
 6   OCCCRR_RI   21323 non-null  object
 7   ARA_LTNMB   28460 non-null  object
 8   CUSE_NM     28460 non-null  object
 9   DMG_AREA    28460 non-null  float64
 10  ADDRESS     28460 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 2.6+ MB

In [132]:
day_fire = day_fire[['OCCRR_DTM','CTPRV_NM', 'CUSE_NM', 'DMG_AREA', 'RQRMN_TM']]
day_fire

        OCCRR_DTM CTPRV_NM CUSE_NM  DMG_AREA  RQRMN_TM
2800   1911-06-29       대전   담뱃불실화      0.25    1225.0
2795   1911-06-29       대전    원인불명      0.25       NaN
2799   1911-06-29       대전   담뱃불실화      0.25    1225.0
2823   1911-07-02       대전   담뱃불실화      0.08    1225.0
2820   1911-07-02       대전    원인불명      0.01       NaN
...           ...      ...     ...       ...       ...
447    2021-05-30       서울    원인불명      0.00       NaN
13814  2021-05-30       충북    원인불명      0.00       NaN
25004  2021-05-30       대구    원인불명      0.00       NaN
6559   2021-05-30       경기    원인불명      0.00       NaN
28368  2021-05-30       경남    원인불명      0.00       NaN

[28460 rows x 5 columns]

In [133]:
day_fire.rename(columns={'OCCRR_DTM':'date', 'CTPRV_NM':'area', 'CUSE_NM':'cause',
                         'DMG_AREA':'damage_size', 'RQRMN_TM':'duration_time'}, inplace = True)
day_fire

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:5042: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

             date area  cause  damage_size  duration_time
2800   1911-06-29   대전  담뱃불실화         0.25         1225.0
2795   1911-06-29   대전   원인불명         0.25            NaN
2799   1911-06-29   대전  담뱃불실화         0.25         1225.0
2823   1911-07-02   대전  담뱃불실화         0.08         1225.0
2820   1911-07-02   대전   원인불명         0.01            NaN
...           ...  ...    ...          ...            ...
447    2021-05-30   서울   원인불명         0.00            NaN
13814  2021-05-30   충북   원인불명         0.00            NaN
25004  2021-05-30   대구   원인불명         0.00            NaN
6559   2021-05-30   경기   원인불명         0.00            NaN
28368  2021-05-30   경남   원인불명         0.00            NaN

[28460 rows x 5 columns]

In [134]:
day_fire['date'] = pd.to_datetime(day_fire['date'])
day_fire

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

            date area  cause  damage_size  duration_time
2800  1911-06-29   대전  담뱃불실화         0.25         1225.0
2795  1911-06-29   대전   원인불명         0.25            NaN
2799  1911-06-29   대전  담뱃불실화         0.25         1225.0
2823  1911-07-02   대전  담뱃불실화         0.08         1225.0
2820  1911-07-02   대전   원인불명         0.01            NaN
...          ...  ...    ...          ...            ...
447   2021-05-30   서울   원인불명         0.00            NaN
13814 2021-05-30   충북   원인불명         0.00            NaN
25004 2021-05-30   대구   원인불명         0.00            NaN
6559  2021-05-30   경기   원인불명         0.00            NaN
28368 2021-05-30   경남   원인불명         0.00            NaN

[28460 rows x 5 columns]

In [135]:
day_fire['year'] = day_fire['date'].dt.year
day_fire

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

            date area  cause  damage_size  duration_time  year
2800  1911-06-29   대전  담뱃불실화         0.25         1225.0  1911
2795  1911-06-29   대전   원인불명         0.25            NaN  1911
2799  1911-06-29   대전  담뱃불실화         0.25         1225.0  1911
2823  1911-07-02   대전  담뱃불실화         0.08         1225.0  1911
2820  1911-07-02   대전   원인불명         0.01            NaN  1911
...          ...  ...    ...          ...            ...   ...
447   2021-05-30   서울   원인불명         0.00            NaN  2021
13814 2021-05-30   충북   원인불명         0.00            NaN  2021
25004 2021-05-30   대구   원인불명         0.00            NaN  2021
6559  2021-05-30   경기   원인불명         0.00            NaN  2021
28368 2021-05-30   경남   원인불명         0.00            NaN  2021

[28460 rows x 6 columns]

In [136]:
index1 = day_fire[(day_fire['year']>2020)|(day_fire['year']<2011)].index

In [137]:
day_fire = day_fire.drop(index1)

In [138]:
day_fire

            date area  cause  damage_size  duration_time  year
25756 2011-01-01   경남  입산자실화         0.02         1213.0  2011
25757 2011-01-01   경남  입산자실화         0.05         1248.0  2011
25843 2011-01-01   경남  입산자실화         1.00          250.0  2011
25950 2011-01-08   경남  쓰레기소각         0.01         1228.0  2011
25951 2011-01-10   경남  입산자실화         0.10          400.0  2011
...          ...  ...    ...          ...            ...   ...
24319 2020-12-31   경북   원인불명         0.00            NaN  2020
7712  2020-12-31   경기   원인불명         0.00            NaN  2020
27961 2020-12-31   경남   원인불명         0.00            NaN  2020
1645  2020-12-31   경북   원인불명         0.00            NaN  2020
24390 2020-12-31   경북   원인불명         0.00            NaN  2020

[10357 rows x 6 columns]

In [139]:
day_fire['area'].unique()

array(['경남', '충북', '경북', '부산', '전남', '강원', '울산', '대전', '광주', '충남', '대구',
       '전북', '경기', '인천', '서울', '제주', '세종'], dtype=object)

In [140]:
day_fire_copy = day_fire
day_fire_copy

            date area  cause  damage_size  duration_time  year
25756 2011-01-01   경남  입산자실화         0.02         1213.0  2011
25757 2011-01-01   경남  입산자실화         0.05         1248.0  2011
25843 2011-01-01   경남  입산자실화         1.00          250.0  2011
25950 2011-01-08   경남  쓰레기소각         0.01         1228.0  2011
25951 2011-01-10   경남  입산자실화         0.10          400.0  2011
...          ...  ...    ...          ...            ...   ...
24319 2020-12-31   경북   원인불명         0.00            NaN  2020
7712  2020-12-31   경기   원인불명         0.00            NaN  2020
27961 2020-12-31   경남   원인불명         0.00            NaN  2020
1645  2020-12-31   경북   원인불명         0.00            NaN  2020
24390 2020-12-31   경북   원인불명         0.00            NaN  2020

[10357 rows x 6 columns]

In [141]:
day_weather

        area_code area       date  max_temp  day_rain  max_wind  min_humidity
0              90   강원 2011-01-01       1.7       1.8       6.3          31.0
1              90   강원 2011-01-02       6.1       1.4       4.1          22.0
2              90   강원 2011-01-03       3.8       8.8       3.3          59.0
3              90   강원 2011-01-04       6.3       0.0       3.9          20.0
4              90   강원 2011-01-05       3.8       0.0       7.7          28.0
...           ...  ...        ...       ...       ...       ...           ...
342990        295   경남 2020-12-27       6.0       7.8       1.8          62.0
342991        295   경남 2020-12-28      11.5       0.0       2.0          60.0
342992        295   경남 2020-12-29      11.2       6.6       3.0          59.0
342993        295   경남 2020-12-30       1.6       0.6       7.3          43.0
342994        295   경남 2020-12-31       2.8       0.0       5.1          43.0

[342995 rows x 7 columns]

In [142]:
day_weather['fire_count'] = 0
day_weather.sort_values(['area','date'])

,area_code,area,date,max_temp,day_rain,max_wind,min_humidity,fire_count
0,90,강원,2011-01-01,1.7,1.8,6.3,31.0,0
5206,95,강원,2011-01-01,-0.7,0.0,1.5,39.0,0
16165,100,강원,2011-01-01,-4.9,5.5,6.9,68.0,0
19818,101,강원,2011-01-01,-0.8,0.0,1.1,42.0,0
27124,104,강원,2011-01-01,0.6,5.1,6.6,45.0,0
...,...,...,...,...,...,...,...,...
63652,127,충북,2020-12-31,-5.2,0.0,4.3,40.0,0
74610,131,충북,2020-12-31,-4.5,0.1,3.0,44.0,0
81916,135,충북,2020-12-31,-3.7,0.0,8.6,49.0,0
197056,221,충북,2020-12-31,-4.8,0.0,4.9,37.0,0
200709,226,충북,2020-12-31,-3.7,0.0,3.3,48.0,0

In [143]:
day_fire.sort_values(['area','date'])

            date area    cause  damage_size  duration_time  year
8784  2011-01-22   강원    담뱃불실화          0.3         1224.0  2011
9149  2011-01-31   강원   주택화재비화         30.0          416.0  2011
9148  2011-01-31   강원   주택화재비화          3.5         1055.0  2011
8796  2011-02-01   강원  입산자실화추정          0.2          123.0  2011
8883  2011-02-11   강원    입산자실화          0.3          230.0  2011
...          ...  ...      ...          ...            ...   ...
12495 2020-12-26   충북     원인불명          0.0            NaN  2020
7939  2020-12-27   충북     원인불명          0.0            NaN  2020
12637 2020-12-27   충북     원인불명          0.0            NaN  2020
7940  2020-12-28   충북     원인불명          0.0            NaN  2020
12638 2020-12-29   충북     원인불명          0.0            NaN  2020

[10357 rows x 6 columns]

In [144]:
len(day_fire)

10357

In [145]:
counts = day_fire.groupby(['area','date']).count()
df_counts = counts.reset_index()

df_counts

     area       date  cause  damage_size  duration_time  year
0      강원 2011-01-22      1            1              1     1
1      강원 2011-01-31      2            2              2     2
2      강원 2011-02-01      1            1              1     1
3      강원 2011-02-11      1            1              1     1
4      강원 2011-03-09      2            2              2     2
...   ...        ...    ...          ...            ...   ...
2881   충북 2020-12-19      2            2              0     2
2882   충북 2020-12-26      1            1              0     1
2883   충북 2020-12-27      2            2              0     2
2884   충북 2020-12-28      1            1              0     1
2885   충북 2020-12-29      1            1              0     1

[2886 rows x 6 columns]

In [146]:
df_counts = df_counts[['area','date','year']]

In [147]:
df_counts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2886 entries, 0 to 2885
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   area    2886 non-null   object
 1   date    2886 non-null   datetime64[ns]
 2   year    2886 non-null   int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 67.8+ KB

In [148]:
day_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 342995 entries, 0 to 342994
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   area_code     342995 non-null  int64
 1   area          342995 non-null  object
 2   date          342995 non-null  datetime64[ns]
 3   max_temp      342995 non-null  float64
 4   day_rain      342995 non-null  float64
 5   max_wind      342995 non-null  float64
 6   min_humidity  342995 non-null  float64
 7   fire_count    342995 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(2), object(1)
memory usage: 20.9+ MB

In [153]:
cols = ['area','date']
#df_merge = pd.merge(day_weather, df_counts, how = 'left', on = (cols))
#df_merge = pd.concat([day_weather,df_counts],axis=1, join='outer')
merge_outer = pd.merge(day_weather,df_counts, how='left',on=cols)

In [155]:
merge_outer.head(50)

,area_code,area,date,max_temp,day_rain,max_wind,min_humidity,fire_count,year
0,90,강원,2011-01-01,1.7,1.8,6.3,31.0,0,NaN
1,90,강원,2011-01-02,6.1,1.4,4.1,22.0,0,NaN
2,90,강원,2011-01-03,3.8,8.8,3.3,59.0,0,NaN
3,90,강원,2011-01-04,6.3,0.0,3.9,20.0,0,NaN
4,90,강원,2011-01-05,3.8,0.0,7.7,28.0,0,NaN
5,90,강원,2011-01-06,0.8,0.0,5.0,30.0,0,NaN
6,90,강원,2011-01-07,4.2,0.0,4.5,17.0,0,NaN
7,90,강원,2011-01-08,3.1,0.0,8.6,15.0,0,NaN
8,90,강원,2011-01-09,1.9,0.0,7.1,25.0,0,NaN
9,90,강원,2011-01-10,1.0,0.0,4.3,16.0,0,NaN
10,90,강원,2011-01-11,2.1,0.0,7.5,23.0,0,NaN
11,90,강원,2011-01-12,-0.4,0.0,6.3,16.0,0,NaN
12,90,강원,2011-01-13,1.6,0.0,4.5,18.0,0,NaN
13,90,강원,2011-01-14,3.4,0.0,6.0,25.0,0,NaN
14,90,강원,2011-01-15,-1.5,0.0,10.0,12.0,0,NaN
15,90,강원,2011-01-16,-2.0,0.0,6.1,14.0,0,NaN
16,90,강원,2011-01-17,1.4,0.0,7.0,11.0,0,NaN
17,90,강원,2011-01-18,1.2,0.0,6.0,15.0,0,NaN
18,90,강원,2011-01-19,1.3,0.0,6.7,12.0,0,NaN
19,90,강원,2011-01-20,-0.7,0.0,5.8,21.0,0,NaN
20,90,강원,2011-01-21,2.3,0.0,5.0,19.0,0,NaN
21,90,강원,2011-01-22,3.7,0.0,6.7,20.0,0,1.0
22,90,강원,2011-01-23,2.6,0.0,4.1,21.0,0,NaN
23,90,강원,2011-01-24,1.1,0.0,5.5,22.0,0,NaN
24,90,강원,2011-01-25,1.8,0.0,7.6,20.0,0,NaN
25,90,강원,2011-01-26,1.8,0.0,9.5,14.0,0,NaN
26,90,강원,2011-01-27,0.9,0.0,4.7,17.0,0,NaN
27,90,강원,2011-01-28,0.5,0.0,6.8,15.0,0,NaN
28,90,강원,2011-01-29,-2.1,0.0,9.0,13.0,0,NaN
29,90,강원,2011-01-30,-2.1,0.0,5.3,13.0,0,NaN
30,90,강원,2011-01-31,5.6,0.0,5.2,15.0,0,2.0
31,90,강원,2011-02-01,7.6,0.0,4.6,25.0,0,1.0
32,90,강원,2011-02-02,11.8,0.0,6.0,11.0,0,NaN
33,90,강원,2011-02-03,9.8,0.0,7.0,12.0,0,NaN
34,90,강원,2011-02-04,8.1,0.0,6.3,24.0,0,NaN
35,90,강원,2011-02-05,6.9,0.0,5.2,37.0,0,NaN
36,90,강원,2011-02-06,8.8,0.0,8.5,18.0,0,NaN
37,90,강원,2011-02-07,6.0,0.0,5.2,31.0,0,NaN
38,90,강원,2011-02-08,4.2,0.0,8.7,43.0,0,NaN
39,90,강원,2011-02-09,3.7,0.0,8.0,44.0,0,NaN
40,90,강원,2011-02-10,0.7,1.3,3.8,41.0,0,NaN
41,90,강원,2011-02-11,0.9,33.5,4.5,78.0,0,1.0
42,90,강원,2011-02-12,-1.0,9.8,7.4,59.0,0,NaN
43,90,강원,2011-02-13,0.4,0.0,3.5,38.0,0,NaN
44,90,강원,2011-02-14,-0.4,18.1,5.4,77.0,0,NaN
45,90,강원,2011-02-15,5.7,0.0,3.7,30.0,0,NaN
46,90,강원,2011-02-16,8.3,0.0,3.7,20.0,0,NaN
47,90,강원,2011-02-17,4.4,0.0,5.7,66.0,0,NaN
48,90,강원,2011-02-18,6.4,0.0,4.3,53.0,0,NaN
49,90,강원,2011-02-19,12.1,0.0,4.0,15.0,0,NaN

In [157]:
merge_outer['year'] = merge_outer['year'].fillna(0)

In [158]:
merge_outer

,area_code,area,date,max_temp,day_rain,max_wind,min_humidity,fire_count,year
0,90,강원,2011-01-01,1.7,1.8,6.3,31.0,0,0.0
1,90,강원,2011-01-02,6.1,1.4,4.1,22.0,0,0.0
2,90,강원,2011-01-03,3.8,8.8,3.3,59.0,0,0.0
3,90,강원,2011-01-04,6.3,0.0,3.9,20.0,0,0.0
4,90,강원,2011-01-05,3.8,0.0,7.7,28.0,0,0.0
...,...,...,...,...,...,...,...,...,...
342990,295,경남,2020-12-27,6.0,7.8,1.8,62.0,0,3.0
342991,295,경남,2020-12-28,11.5,0.0,2.0,60.0,0,4.0
342992,295,경남,2020-12-29,11.2,6.6,3.0,59.0,0,0.0
342993,295,경남,2020-12-30,1.6,0.6,7.3,43.0,0,2.0
342994,295,경남,2020-12-31,2.8,0.0,5.1,43.0,0,1.0